<div class="mfp-hide pop-bg" id="Buy-modal">
    <div class="pop-bg">
        <%= form_tag "javascript:void(0)", method: :post, remote: true, id: 'buyForm' do %>
         <div  class="pop_content">
         <button class="modal__close md_cls" type="button"><i class="fas fa-times"></i></button>
         <h2 >Buy Now</h2>
         <div class="bid-pop-div">
            <p style="color:#98999D;">You are about to Purchase</p>
            <p><%= @collection.title %></p>
            <p>by <span class="frm-from" data-toggle="tooltip" data-placement="top" title="<%= @collection.owner.full_name %>"> <%= link_to @collection.owner.full_name, user_path(@collection.owner.address), target: '_blank' %></span></span></p>
         </div>
         <div class="row grey-bg">
            <div class="col-sm-12">
              <% price, symbol = @collection.sale_price %>
              <% collection_coin = @collection.collection_coin %>
               <div  class="form-div col-sm-8">        
                <% if @collection.multiple? %> 
                  <label for="recipient-name" class="col-form-label" ><%= t('collections.show.quantity_available', token: @collection.owned_tokens.to_i) %></label>
                  <input id='buy_qty' name="buy[quantity]" maxQuantity="<%= @collection.owned_tokens.to_i %>" class="validInteger sign__input" placeholder="Enter quantity" required/>
                <% else %>
                  <label for="recipient-name" class="col-form-label" style="margin: 0px auto;"><%= t('collections.show.quantity_available', token: @collection.owned_tokens.to_i) %></label>
                  <input id='buy_qty' name="buy[quantity]" value="<%= @collection.owned_tokens.to_i %>" maxQuantity="<%= @collection.owned_tokens.to_i %>" class="validInteger sign__input" hidden/>
                <% end %>
               </div>
               <div  class="form-div  col-sm-4">
                  <label for="recipient-name" style="white-space: nowrap; margin: 0px auto;">Buy Price: 
                  <span id="buy_price" price="<%= price %>" class="price_currency <% if @collection.single?%> single_collection_price_currency <%end%>"><%= price %></span><span id="buy_currency">&nbsp;<%= collection_coin %></span>
                  </label>
               </div>
            </div>
            <div class="bid-details" style="margin-top: 15px;">
               <p>Your Balance</p>
               <span class="price-amt-val" id="current_balance"><%= current_balance %> <%= Rails.application.credentials.config[:base_coin] %></span>
            </div>
          <% unless @collection.is_eth_payment %>
            <div class="bid-details">
               <p>Your Buying Balance</p>
               <span class="price-amt-val"><span class="ercCurBalance">0</span> <%= collection_coin %></span>
            </div>
          <% end %>
            <div class="bid-details">
               <p>Service Fee</p>
                <span class="price-amt-val"><span id="buy-amt-dp">0</span> <%= collection_coin %></span>
            </div>
            <div class="bid-details">
               <p>Total Buy Amount</p>
                <span class="price-amt-val"><span id="buy-total-amt-dp">0</span> <%= collection_coin %></span>
            </div>
         </div>
         <div class="col-md-6" style="text-align: center;">
            <a href="">
               <div class="modal__close md_cls cancel-button" style="margin: -4px auto;">Cancel</div>
            </a>
         </div>
         <div class="col-md-6" style="text-align: center;">
           <a class="triggerBuyValidation" href="" role="button">
               <div class="creat-button">Buy</div>
            </a>
         </div>
      </div>
        <% end %>
    </div>
</div>

<div class="zoom-anim-dialog mfp-hide modal sm_modal" id="placeBuy">
  
  <h4 class="modal-title"><%= t('shared.follow_steps') %></h4>

  <div class="modal-body last_bdr_remove">
    <div class="convertEth">
      <%= render partial: 'convert_eth' %>
    </div>

    <div class="approveBuy">
      <%= render partial: 'approve_buy' %>
    </div>

    <div class="purchaseBuy">
      <%= render partial: 'purchase_buy' %>
    </div>

  </div>
</div>