<main class="main choose-upload-file">
   <!--<% if current_user.banner.present? %>
      <div class="main__author" style="background: url(<%= url_for(current_user.banner) %>) center center / cover no-repeat;;"></div>
      <% else %>
      <div class="main__author" data-bg="/assets/dummy-image.jpg" style="background: url(/assets/dummy-image.jpg) center center / cover no-repeat;"></div>
      <% end %>-->
   <% if !@nft.nil? %>
    <script>
        $(function(){
          $("#collection-type").hide();
          $("#royalties").parent().parent().hide();
          $("#itemname").val("<%= @nft[:title] %>");
          $("#itemname").prop('disabled', true);
          $("#description").val("<%= @nft[:description] %>");
          $("#description").prop('disabled', true);
        $("#no_of_copies").prop('disabled', true);
          <% if ['audio/mp3', 'audio/webm', 'audio/mpeg'].include?(@nft[:file_type]) %>
            $("#imagePreviewRes").append('<audio width="300" height="300" controls=""><source src="<%= @nft[:url] %>" id="audio_here"> </audio>');
            dispalyPreviewImage();
          <% elsif ['video/mp4', 'video/webm'].include?(@nft[:file_type]) %>
            $("#imagePreviewRes").append('<video width="300" height="200" controls=""><source src="<%= @nft[:url] %>" id="video_here"> </video>');
            dispalyPreviewImage();
          <% else %>
            $("#imagePreviewRes").css({"background-image": "url(<%= @nft[:url] %>)", "height": "225px", "width": "300px", "background-size": "cover", "background-repeat": "no-repeat", "background-position": "center center", "margin-left": "auto", "margin-right": "auto", "border-radius": "15px"});
            $('#my-preview-section').html('<img id="img_prv" width="300" height="300" src="<%= @nft[:url] %>" controls/>');
            $('#my-preview-section').hide();
            $('#my-preview-section').fadeIn(650);
          <% end %>
          $("#file-1").hide();
          $('#placeholder').fadeOut(100);
          $('#file-1').fadeOut(100);
          $('#choose_file_selected').fadeOut(100);
          $('#imagePreviewRes').hide();
          $('#imagePreviewRes').fadeIn(650);
        });
        
        function dispalyPreviewImage() {
          <% preview_url = if @nft[:preview_url].present? then @nft[:preview_url] else "/assets/banner-1.png" end%>
          $('#my-preview-section').html('<img id="img_prv" width="300" height="300" src="<%= preview_url %>" controls/>');
          $('.coverUpload').removeClass("hide");
          $('#my-preview-section').hide();
          $('#my-preview-section').fadeIn(650);
          $('#imagePreviewRes2').html('<img id="img_prv" width="300" height="300" src="<%= preview_url %>" controls/>')
          <% unless @nft[:preview_url].present? %>
            $('#close-preview-button2').css('display', 'inline-block');
          <% end %>
          $('#placeholder2').fadeOut(100);
          $('#file-2').fadeOut(100);
          $('#choose_file_selected2').fadeOut(100);
          $('#imagePreviewRes2').hide();
          $('#imagePreviewRes2').fadeIn(650);
        }
    </script>
   <% end %>
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-12 col-sm-12 upload-choosen-files">
            <!-- create form -->
            <%= form_tag collections_path, method: :post, multipart: true, remote: true, authenticity_token: true, id: "collectionCreateForm", :class => "" do %>
            <%= hidden_field_tag 'collection[collection_type]', @collection_type %>
            <%= hidden_field_tag 'collection[data]', nil, class: 'collection-data-val' %>
            <%= hidden_field_tag 'collection[source]', if @nft.nil? then 'self' else 'opensea' end %>
            <% unless @nft.nil? %>
            <%= hidden_field_tag 'collection[nft_link]', @nft[:metadata] %>
            <%= hidden_field_tag 'collection[token]', @nft[:token] %>
            <%= hidden_field_tag 'collection[total_copies]', @nft[:num_copies] %>
            <%= hidden_field_tag 'collection[contract_address]', @nft[:contract_address] %>
            <%= hidden_field_tag 'collection[contract_type]', @nft[:contract_type] %>
            <%= hidden_field_tag 'collection[imported]', true %>
            <% end %>
            <div class="codrops-header">
               <div class="codrops-header_innertab">
                  <div class="box">
                     <img src="../../assets/nft/modal-img/drop.png" id="drop-img">
                     <span class="placeholder" id="placeholder" style=""><b>Drag and Drop files</b>or</span>
                     <input accept="image/png,image/jpeg,image/gif,video/mp4,video/webm,audio/mp3,audio/webm,audio/mpeg" type="file" name="collection[attachment]" id="file-1" class="sign__file-upload create_file_upload"/>
                     <div id="imagePreviewRes"></div>
                     <label id="choose_file_selected" for="file-1"><span><%= t('collections.form.choose_file') %></span></label> 
                     <div class="close-preview-button" id="close-preview-button">
                        <span>X</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-md-6 col-12 col-sm-12 signle-collectible-item-info">
            <div class="main__title main__title--create">
               <h2><%= t('collections.form.create_collection_tittle', collection_type: @collection_type) %></h2>
            </div>
            <h4 class="sign__title">NFT Details</h4>
            <div class="nft-details-list">
               <div class="sign__group">
                  <label class="sign__label" for="itemname"><%= t('collections.form.item_name') %></label>
                  <input id="itemname" type="text" name="collection[name]" class="sign__input" placeholder="Enter Name">
               </div>
               <div class="sign__group">
                  <label class="sign__label" for="royalties"><%= t('collections.form.categories') %></label>
                  <select data-placeholder="Choose tags ..." name="collection[category]" id="collection-category" class="sign__select chosen-select" required>
                     <option class="select-categories">Select Categories</option>
                     <% Category.pluck(:name).each do |category| %>
                     <option value="<%= category %>"><%= category %></option>
                     <% end %>
                  </select>
               </div>
               <div class="sign__group">
                  <label class="sign__label" for="description"><%= t('collections.form.description') %></label>
                  <textarea id="description" name="collection[description]" class="sign__textarea" placeholder="e. g. 'Music cover art for My Single , Artist Name , Date, Art making process etc...'"></textarea>
               </div>
               <% if @collection_type == "multiple" %>
               <div class="sign__group">
                  <label class="sign__label" for="no_of_copies"><%= t('collections.form.number_of_copies') %></label>
                  <% if !@nft.nil? %>
                  <input type="number" min="1" max="<%= @nft[:num_copies] %>" value="<%= @nft[:num_copies] %>" id="no_of_copies" name="collection[no_of_copies]" class="sign__input" placeholder="e.g 5" required></input>
                  <p style="font-size: 14px; color: #666; margin-left: 2px;"> You have <%= @nft[:num_copies] %> <%= if @nft[:num_copies].to_i > 1 then 'copies' else 'copy' end %> only</p>
                  <% else %>
                  <input type="number" min="1" id="no_of_copies" name="collection[no_of_copies]" class="sign__input" placeholder="e.g 5" required></input>
                  <% end %>
               </div>
               <% end %>
               <div class="sign__group crator-royalty-span">
                  <label class="sign__label" for="royalties"><%= t('collections.form.royalties') %></label>
                  <input id="royalties" name="collection[royalty]" class="validNumber sign__input" placeholder="0%"></input>
                  <span>Maximum 30%</span>
               </div>
               <div class="sign__group sign__group--row">
                  <ul class="switch_group">
                     <li>
                        <label for="put_sale"><%= t('shared.put_on_sale') %></label>
                        <p><%= t('shared.put_on_sale_msg') %></p>
                        <label class="switch_type" id="put_sale">
                        <input type="checkbox" name="collection[put_on_sale]">
                        <span class="slider round"></span>
                        </label>
                     </li>
                     <li>
                        <label for="instant_sale"><%= t('shared.instant_sale_price') %></label>
                        <p><%= t('shared.instant_sale_price_msg') %></p>
                        <label class="switch_type" id="instant_sale">
                        <input type="checkbox" id="collection_instant_sale_enabled" name="collection[instant_sale_enabled]">
                        <span class="slider round"></span>
                        </label>
                     </li>
                     <li id="instPrice" class="li_inp_grp hide">
                        <div class="inp-grp-flex">
                           <div class="sign__group">
                              <input type="text" name="collection[instant_sale_price]" class="sign__input" id="instant-price" placeholder="Enter price for one piece"/>
                           </div>
                           <div class="sign__group">
                              <%= select_tag "collection[erc20_token_id]", options_for_select(Erc20Token.select_options), class: "sign__select chosen-select", required: true %>
                           </div>
                        </div>
                     </li>
                     <!-- <li>
                        <label for="unlock_purchase"><%= t('shared.unlock_one_purchased') %></label>
                        <p><%= t('shared.unlock_one_purchased_msg') %></p>
                        <label class="switch_type" id="unlock_purchase">
                          <input type="checkbox" name="collection[unlock_on_purchase]" id="collection-unlock-on-purchase">
                          <span class="slider round"></span>
                        </label>
                        </li> 
                        <li class="li_inp_grp unlock-description-section hide">
                        <div class="sign__group">
                          <input type="text" id="collection-unlock-description" name="collection[unlock_description]" class="sign__input" placeholder="Enter unlock description">
                        </div>
                        </li> -->
                  </ul>
               </div>
               <div id="collection-type">
                  <h4 class="sign__title"><%= t('collections.form.choose_collection') %></h4>
                  <div class="sign__group sign__group--row">
                     <ul class="sign__radio">
                        <li>
                           <%= radio_button_tag 'chooseCollection', "create", nil, class: "chooseCollectionErc chooseCollectionType", :id => "type4" %>
                           <label for="type4">Owntoken<%#= collection_type @collection_type %></label>
                        </li>
                        <li>
                           <%= radio_button_tag 'chooseCollection', "nft", nil, class: "chooseCollectionNft chooseCollectionType", :id => "type5", :checked => true %>
                           <label for="type5">Crosstower<%#= t('collections.form.nft') %></label>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="Own_contract_partials hide">
                  <% current_user.get_contracts(@collection_type).each do |contract|%>
                  <%=render partial: 'own_contract',  locals: {contract: contract, blank:false} %>
                  <%end%>
                  <%=render partial: 'own_contract',  locals: {blank:true, contract: nil} %>
               </div>
                <div class="col-12 <%= 'hide' if @nft.present? %>">
                  <h4 class="sign__title">Choose Minting Type</h4>
                  <div class="sign__group sign__group--row">
                     <ul class="sign__radio">
                        <li>
                           <%= radio_button_tag 'chooseMintType', "mint", nil, class: "chooseCollectionErc", :checked => true%>
                           <label for="chooseMintType_mint">Instant Minting</label>
                        </li>
                        <li id="lazy_minting">
                           <%= radio_button_tag 'chooseMintType', "lazy", nil, class: "chooseCollectionNft", disabled: @nft.present? %>
                           <label for="chooseMintType_lazy">Lazy Minting</label>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="remove-border">
                  <%= submit_tag 'Create', class: 'sign__btn hide', id: 'submitCollection', 'data-disable-with': "<i class='fa fa-spinner fa-spin'></i> Creating...".html_safe %>
                  <a class="sign__btn create-item collection-submit-btn triggerCollectionValidation" href="#" role="button"><%= @nft.nil? ? t('collections.form.create_contract') : t('shared.put_on_sale') %></a>
            </div>
         </div>
         <% end %>
         <!-- end create form -->
      </div>
   </div>
</main>

<%= hidden_field_tag 'collection_contract_address', nil %>
<%= hidden_field_tag 'collection_contract_type', nil %>
<%= hidden_field_tag 'collection_id', nil %>
<%= hidden_field_tag 'collection_token_uri', nil %>
<%= hidden_field_tag 'collection_supply', nil %>
<%= hidden_field_tag 'collection_royalty_fee', nil %>

<div class="collection-attribute-entry-base  collection-flex-box collection-attribute-entry hide">
   <div class="sign__group">
      <input id="size" type="text" class="sign__input attr-key" placeholder="e. g. Size">
   </div>
   <div class="sign__group">
      <input id="propertie" type="text" class="sign__input attr-val" placeholder="e.g M.">
   </div>
</div>

<div class="zoom-anim-dialog mfp-hide modal sm_modal contract-detail-popup" id="createOwnErc721">
   <button class="modal__close md_cls own-contract-close" type="button"><i class="fas fa-times"></i></button>
   <h4 class="modal-title share_link_page_h4"><%= t('collections.form.contract_detail') %></h4>
   <div class="row">
      <div class="col-12 col-md-12">
         <div class="box">
            <label class="sign__label" for="propertie">Attachment</label>
            <div class="choose-file-design">
            <%= file_field_tag "nft_contract[attachment]", accept: 'image/png,image/gif,image/jpeg', class: 'sign__file-upload create_file_upload sign__input inputfile inputfile-1', required: true %>
           <!--   <div class="choose-imgaes">
               <span>Choose File</span>
               <em>No file chosen</em>
               </div> -->
            </div>
            <div id="imagePreview-contract"></div>
            <div class="close-preview-button" id="close-preview-button-contract"><span>X</span></div>
         </div>
      </div>
      <div class="col-12 col-md-12">
         <div class="box">
            <label class="sign__label" for="propertie">cover</label>
          
            <div class="choose-file-design">
                 <%= file_field_tag "nft_contract[cover]", accept: 'image/png,image/gif,image/jpeg', class: 'sign__file-upload create_file_upload sign__input inputfile inputfile-1', required: true %>
             
            </div>
            <div id="imageCover-contract"></div>
            <div class="close-preview-button" id="close-cover-button-contract"><span>X</span></div>
         </div>
      </div>
      <div class="col-12 col-md-12">
         <div class="sign__group">
            <%= hidden_field_tag 'nft_contract[owner_id]', current_user.address, class: 'nft-detail-name', disabled: true %>
            <%= hidden_field_tag("nft_contract[address]") %>
            <label class="sign__label" for="propertie"><%= t('collections.form.name') %></label>
            <%= text_field_tag "nft_contract[name]", nil, class: 'sign__input', placeholder: 'Name of the Contract', required: true %>
         </div>
      </div>
      <div class="col-12 col-md-12">
         <div class="sign__group">
            <label class="sign__label" for="propertie"><%= t('collections.form.symbol') %></label>
            <%= text_field_tag "nft_contract[symbol]", nil, class: 'sign__input', placeholder: 'Symbol of the Contract', required: true %>
         </div>
      </div>
      <div class="col-12 col-md-12">
         <div class="sign__group">
            <label class="sign__label" for="propertie">Description</label>
            <%= text_field_tag "nft_contract[desc]", nil, class: 'sign__input', placeholder: 'Description of the Contract', required: true %>
         </div>
      </div>
   </div>
   <div class="modal-footer">
      <div class="row">
         <div class="col-md-6 col-6">
            <button type="button" class="sign__btn btn btn-primary modal__close md_cls own-contract-close" data-dismiss="modal"><%= t('shared.cancel') %></button>
         </div>
         <div class="col-md-6 col-6">
            <button type="submit" class="sign__btn btn btn-primary createOwnErc721Form"><%= t('collections.form.create_contract') %></button>
         </div>
      </div>
   </div>
</div>

<div class="zoom-anim-dialog mfp-hide modal sm_modal" id="deployContract">
   <button class="modal__close md_cls" type="button"><i class="fas fa-times"></i></button>
   <h4 class="modal-title share_link_page_h4"><%= t('collections.form.follow_steps') %></h4>
   <div class="modal-body pl-30 pr-30 last_bdr_remove">
      <div class="row deployContract">
         <%= render partial: 'deploy_contract' %>
      </div>
      <div class="row signMsg hide">
         <%= render partial: 'sign_deploy_contract' %>
      </div>
   </div>
</div>

<div class="zoom-anim-dialog mfp-hide modal sm_modal" id="collectionStepModal">
  <button class="modal__close md_cls collectionModalClose" type="button"><i class="fas fa-times"></i></button>
  <h4 class="modal-title share_link_page_h4"><%= t('collections.form.follow_steps') %></h4>
  <p class="modal-text"> Great things take time! But this one will be <br> only a few minutes. </p>
  <div class="modal-body pl-30 pr-30 last_bdr_remove">
    <div class="row approveFlow">
      <%= render partial: 'approve' %>
    </div>

    <div class="row mintFlow">
      <%= render partial: 'mint' %>
    </div>

    <div class="row signFixedPrice hide">
      <%= render partial: 'sign_fixed_price' %>
    </div>

    <div class="row signLockedContent hide">
      <%= render partial: 'sign_locked_content' %>
    </div>
  </div>

</div>



</div>

<script>
   $(document).ready(function(){
     $(".close-top-notify").click(function(){
       $(".main").addClass("close-nav");
     });
   });
   
     
</script>
