<div class="collection-page">
   <% if !@nft.nil? %>
    <script>
        $(function(){
          $("#collection-type").hide();
          $("#royalties").parent().parent().hide();
          $("#itemname").val("<%= @nft[:title] %>");
          $("#itemname").prop('disabled', true);
          $("#description").val("<%= @nft[:description] %>");
          $("#description").prop('disabled', true);
        $("#no_of_copies").prop('disabled', true);
         <% if ['audio/mp3', 'audio/webm', 'audio/mpeg'].include?(@nft[:file_type]) %>
         $("#imagePreviewRes").append('<audio width="300" height="300" controls="" controlslist="nodownload noplaybackrate"><source src="<%= @nft[:url] %>" id="audio_here"> </audio>');
         $(".codrops-header_innertab").css({ 'height': '55px' });
         dispalyPreviewImage();
         <% elsif ['video/mp4', 'video/webm'].include?(@nft[:file_type]) %>
         $("#imagePreviewRes").append('<video width="300" height="200" controls="" controlslist="nodownload noremoteplayback noplaybackrate" disablepictureinpicture="disablepictureinpicture"><source src="<%= @nft[:url] %>" id="video_here"> </video>');
         $(".codrops-header_innertab").css({ 'height': '225px' });
         dispalyPreviewImage();
         <% else %>
         $("#imagePreviewRes").css(
            {
            "background-image": "url(<%= @nft[:url] %>)", 
            "height": "610px", 
            "background-size": "cover",
            "background-repeat": "no-repeat",
            "background-position": "center center", 
            "margin-left": "auto",
            "margin-right": "auto",
            });
         $('#my-preview-section').html('<img id="img_prv" width="300" height="300" src="<%= @nft[:url] %>" controls/>');
         $('#my-preview-section').hide();
         $('#my-preview-section').fadeIn(650);
         <% end %>
         $("#file-1").hide();
         $('#placeholder').fadeOut(100);
         $('#file-1').fadeOut(100);
         $('#choose_file_selected').fadeOut(100);
         $('#imagePreviewRes').hide();
         $('#imagePreviewRes').fadeIn(650);
         $("#validation-info").css('display', 'none');
         $(".nft-details-list").css('display', 'block');
         $("#drop-img").css('display', 'none');
        });
        
        function dispalyPreviewImage() {
          <% preview_url = if @nft[:preview_url].present? then @nft[:preview_url] else "/assets/banner-1.png" end%>
          $('#my-preview-section').html('<img id="img_prv" width="540px" height="610px" src="<%= preview_url %>" controls/>');
          $('.coverUpload').removeClass("hide");
          $('#my-preview-section').hide();
          $('#my-preview-section').fadeIn(650);
          $('#imagePreviewRes2').html('<img id="img_prv" width="540px" height="610px" src="<%= preview_url %>" controls/>')
          <% unless @nft[:preview_url].present? %>
            $('#close-preview-button2').css('display', 'inline-block');
          <% end %>
          $('#placeholder2').fadeOut(100);
          $('#file-2').fadeOut(100);
          $('#choose_file_selected2').fadeOut(100);
          $('#imagePreviewRes2').hide();
          $('#imagePreviewRes2').fadeIn(650);
        }
    </script>
   <% end %>
   <header style="padding: 12px 30px;
    margin: 0;
    background-color: #fff;
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 auto; width: 100%; margin-bottom: 50px;"></header>
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-12 col-sm-12 upload-choosen-files">
            <label class="formbold-form-label formbold-form-label-2">
                  Upload File
            </label>
            <!-- create form -->
            <%= form_tag collections_path, method: :post, multipart: true, remote: true, authenticity_token: true, id: "collectionCreateForm", :class => "" do %>
            <%= hidden_field_tag 'collection[collection_type]', @collection_type %>
            <%= hidden_field_tag 'collection[data]', nil, class: 'collection-data-val' %>
            <%= hidden_field_tag 'collection[source]', if @nft.nil? then 'self' else 'alchemy' end %>
            <% unless @nft.nil? %>
            <%= hidden_field_tag 'collection[nft_link]', @nft[:metadata] %>
            <%= hidden_field_tag 'collection[token]', @nft[:token] %>
            <%= hidden_field_tag 'collection[total_copies]', @nft[:num_copies] %>
            <%= hidden_field_tag 'collection[contract_address]', @nft[:contract_address] %>
            <%= hidden_field_tag 'collection[contract_type]', @nft[:contract_type] %>
            <%= hidden_field_tag 'collection[imported]', true %>
            <% end %>
            <div>
               <div class="collectionUpload formbold-file-input">
                     <input accept="image/png,image/jpeg,image/gif,video/mp4,video/webm,audio/mp3,audio/webm,audio/mpeg" type="file" name="collection[attachment]" id="file-1" class="sign__file-upload create_file_upload"/>
                     <div id="imagePreviewRes"></div>
                     <span class="formbold-drop-file"><i class="fa fa-cloud-upload"></i> </span>
                     <span id="validation-info" class="formbold-or"> PNG, GIF, WEBP, MP4 or MP3. Max 15mb. </span>
                     <label id="choose_file_selected" for="file-1"><span>Browse  </span></label> 
                     <div class="close-preview-button" id="close-preview-button">
                        <span>X</span>
                     </div> 
               </div>
            </div>
            <div class="coverUpload hide">
               <label><%= t('collections.form.upload_cover') %><span> *</span></label>
               <div class="row mb-15">
                  <div class="col-12">
                     <div class="codrops-header">
                     <div class="box">
                        <span class="placeholder" id="placeholder2" style="">JPG, PNG or GIF. Max 30mb.</span>
                        <input accept="image/png,image/jpeg,image/gif" type="file" name="collection[cover]" id="file-2" class="inputfile inputfile-1"/>
                        <label id="choose_file_selected2" for="file-2"><span><%= t('collections.form.choose_file') %></span></label>
                        <div id="imagePreviewRes2"></div>
                        <div class="close-preview-button" id="close-preview-button2"><span>X</span></div>
                     </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-md-6 col-12 col-sm-12 signle-collectible-item-info">
            <div class="form-section">
               <% if @collection_type == 'single' %>
                  <p class="">Create 1/1 Item</p>
               <% else %>
                  <p class="">Create Multiple Item</p>
               <% end %>
               <div class="form-section-b"></div>
               <p class="p-2">NFT Details</p>
               <div class="nft-details-list">
                  <div class="form-div">
                     <label for="itemname"><%= t('collections.form.item_name') %></label>
                     <input id="itemname" type="text" name="collection[name]" placeholder="Enter Name">
                  </div>
                  <div class="form-div">
                     <label for="categories"><%= t('collections.form.categories') %></label>
                     <select data-placeholder="Choose tags ..." name="collection[category]" id="collection-category" class="chosen-select" required>
                        <option class="select-categories">Select Categories</option>
                        <% Category.pluck(:name).each do |category| %>
                        <option value="<%= category %>"><%= category %></option>
                        <% end %>
                     </select>
                  </div>
                  <div class="form-div">
                     <label for="description"><%= t('collections.form.description') %></label>
                     <textarea id="description" name="collection[description]" placeholder="e. g. 'Music cover art for My Single , Artist Name , Date, Art making process etc...'"></textarea>
                  </div>
                  <% if @collection_type == "multiple" %>
                  <div class="form-div">
                     <label class="" for="no_of_copies"><%= t('collections.form.number_of_copies') %></label>
                     <% if !@nft.nil? %>
                     <input type="number" min="1" max="<%= @nft[:num_copies] %>" value="<%= @nft[:num_copies] %>" id="no_of_copies" name="collection[no_of_copies]" class="" placeholder="e.g 5" required></input>
                     <p style="font-size: 14px; color: #666; margin-left: 2px;"> You have <%= @nft[:num_copies] %> <%= if @nft[:num_copies].to_i > 1 then 'copies' else 'copy' end %> only</p>
                     <% else %>
                     <input type="number" min="1" id="no_of_copies" name="collection[no_of_copies]" class="" placeholder="e.g 5" required></input>
                     <% end %>
                  </div>
                  <% end %>
                  <% if @nft.nil? %>
                     <div class="form-div">
                        <div class="max">Maximum 30% </div>
                        <label for="name">Creator Royalty</label>
                        <input id="royalties" name="collection[royalty]" class="validNumber" placeholder="0%" type="text"></input>
                     </div>
                  <% end %>
                  <div class="tab-wrap">
                        <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
                        <label for="tab1">
                           <img src="../../assets/landing_page/price-tag.svg">
                           <p>Fixed Price</p>
                        </label>
                        <input type="radio" id="tab2" name="tabGroup1" class="tab">
                        <label for="tab2">
                           <img src="../../assets/landing_page/bid.svg">
                           <p>Open for bids</p>
                        </label>
                        <!-- <input type="radio" id="tab3" name="tabGroup1" class="tab">
                        <label for="tab3">
                           <img src="../../assets/landing_page/auction-count.svg">
                           <p>Timed Auction</p>
                        </label> -->
                        <div class="tab__content">
                           <div  class="form-div">
                              <div class="check-div">
                                 <label for="instant_sale">Price</label> <br>
                                 <span style="color: #98999D;"><%= t('shared.instant_sale_price_msg') %></span>
                                 <label class="switch_type" id="instant_sale">
                                 <input type="checkbox" id="collection_instant_sale_enabled" name="collection[instant_sale_enabled]">
                                 <span class="slider round"></span>
                                 </label>
                              </div>
                              <div class="max" style="max-width: 40px;top: 93px; color:#98999D">ETH</div>
                              <input onkeypress="return validDecimalPoint(event)" type="text" name="collection[instant_sale_price]" class="" id="instant-price" placeholder="Enter price for one piece" />
                              <div class="max" style="max-width: 30px;top: 157px;">2.5%</div>
                              <input type="text" id="name" name="user_name" placeholder="Service Fee" readonly>
                           </div>
                        </div>
                        <div class="tab__content">
                           <div  class="form-div">        
                              <ul class="">
                                 <li>
                                    <div class="check-div">
                                    <label for="put_sale"><%= t('shared.put_on_sale') %></label> <br>
                                    <span style="color: #98999D;">You'll receive bids on this item</span>
                                    <label class="switch_type" id="put_sale">
                                    <input type="checkbox" name="collection[put_on_sale]">
                                    <span class="slider round"></span>
                                    </label>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="tab__content">
                           <div  class="form-div">        
                              <label for="name">Timed Auction</label>
                              <input type="text" id="name" name="user_name" placeholder="Enter Name">
                              <input type="text" id="name" name="user_name" placeholder="Enter Name">
                           </div>
                        </div>
                     </div>
                  
                  <div>
                  <div id="collection-type">
                     <div class="show-items-div" style="margin-bottom:50px;">
                        <a href="javascript:void(0);" >
                           <div id="ownContract" class="show-items">
                              <img src="./../assets/landing_page/plus-icon.svg">
                              <p>Create</p>
                              <input type="radio" id="own" name="chooseNewCollection" class="tab">
                           </div>
                        </a>
                        <% current_user.get_contracts(@collection_type).each do |contract|%>
                           <a href="javascript:void(0);" onclick="highlightContract(event, '<%= contract.address %>')">
                              <div id="<%= contract.address %>" class="existingContracts show-items">
                              <img src="<%= contract.attachment_url %>" style="height: 45px;">
                              <p><%= contract.symbol %></p>
                              <input type="radio" id="exisitng" name="chooseOwnCollection" class="tab">
                              <%= hidden_field_tag 'existingCollectionAddress', contract.address %>        
                              </div>
                           </a>         
                        <%end%>
                        
                        <a href="javascript:void(0);" >
                           <div id="sharedContract" class="show-items show-items-active">
                              <img src="./../assets/landing_page/ct-icon.svg">
                              <p>CrossTower</p>
                              <input type="radio" id="shared" name="chooseCrossTowerCollection" class="tab" checked>
                           </div>
                        </a>
                     </div>
                     
                     

                  </div>
                  

               <div class="<%= 'hide' if @nft.present? %>">
                  <div class="check-div" style="margin:35px 0px;" >
                     <label>Free Minting<br>
                     <span>Buyer will pay gas fees for minting</span>
                     </label>
                     <label class="switch" style="float:right ;">
                     <input type="checkbox" name="is_lazy_mint" checked >
                     <span class="slider round"></span>
                     </label>
                  </div>
               </div>
               <div class="remove-border">
                  <%= submit_tag 'Create', class: 'sign__btn hide', id: 'submitCollection', 'data-disable-with': "<i class='fa fa-spinner fa-spin'></i> Creating...".html_safe %>
                  <!-- <a class="sign__btn create-item collection-submit-btn triggerCollectionValidation" href="#" role="button"><%= @nft.nil? ? t('collections.form.create_contract') : t('shared.put_on_sale') %></a> -->
                  <div class="create-button-div">
                     <button class="create-item collection-submit-btn triggerCollectionValidation">Create</button> 
                  </div>
               </div>
            </div>
         </div>
         <% end %>
         <!-- end create form -->
      </div>
   </div>
</main>

<%= hidden_field_tag 'collection_contract_address', nil %>
<%= hidden_field_tag 'collection_contract_type', nil %>
<%= hidden_field_tag 'collection_id', nil %>
<%= hidden_field_tag 'collection_token_uri', nil %>
<%= hidden_field_tag 'collection_supply', nil %>
<%= hidden_field_tag 'collection_royalty_fee', nil %>

<div class="collection-attribute-entry-base  collection-flex-box collection-attribute-entry hide">
   <div class="sign__group">
      <input id="size" type="text" class="sign__input attr-key" placeholder="e. g. Size">
   </div>
   <div class="sign__group">
      <input id="propertie" type="text" class="sign__input attr-val" placeholder="e.g M.">
   </div>
</div>

<div class="collection-page zoom-anim-dialog modal sm_modal mfp-hide contract-detail-popup" id="createOwnErc721">
   <button class="modal__close md_cls own-contract-close" type="button"><i class="fas fa-times"></i></button>
   <h4 class="modal-title share_link_page_h4"><%= t('collections.form.contract_detail') %></h4>
   <div class="row grey-bg">
      <div class="col-12 col-md-12">
         <div class="box">
            <label class="form-label" for="propertie">Attachment</label>
            <div class="choose-file-design">
            <%= file_field_tag "nft_contract[attachment]", accept: 'image/png,image/gif,image/jpeg', class: 'sign__file-upload create_file_upload sign__input inputfile inputfile-1', required: true %>
            </div>
            <div id="imagePreview-contract"></div>
            <div class="close-preview-button" id="close-preview-button-contract"><span>X</span></div>
         </div>
      </div>
      <div class="col-12 col-md-12">
         <div class="box">
            <label class="form-label" for="propertie">Cover</label>
          
            <div class="choose-file-design">
                 <%= file_field_tag "nft_contract[cover]", accept: 'image/png,image/gif,image/jpeg', class: 'sign__file-upload create_file_upload sign__input inputfile inputfile-1', required: true %>
             
            </div>
            <div id="imageCover-contract"></div>
            <div class="close-preview-button" id="close-cover-button-contract"><span>X</span></div>
         </div>
      </div>
      <div class="col-12 col-md-12">
         <div class="sign__group">
            <%= hidden_field_tag 'nft_contract[owner_id]', current_user.address, class: 'nft-detail-name', disabled: true %>
            <%= hidden_field_tag("nft_contract[address]") %>
            <label class="form-label" for="propertie"><%= t('collections.form.name') %></label>
            <%= text_field_tag "nft_contract[name]", nil, class: 'sign__input', placeholder: 'Name of the Contract', required: true %>
         </div>
      </div>
      <div class="col-12 col-md-12">
         <div class="sign__group">
            <label class="form-label" for="propertie"><%= t('collections.form.symbol') %></label>
            <%= text_field_tag "nft_contract[symbol]", nil, class: 'sign__input', placeholder: 'Symbol of the Contract', required: true %>
         </div>
      </div>
      <div class="col-12 col-md-12">
         <div class="sign__group">
            <label class="form-label" for="propertie">Description</label>
            <%= text_field_tag "nft_contract[desc]", nil, class: 'sign__input', placeholder: 'Description of the Contract', required: true %>
         </div>
      </div>
   </div>
   <div class="modal-footer">
      <div class="row">
         <div class="col-md-6 col-6">
            <button type="button" class="cancel-button modal__close md_cls own-contract-close" data-dismiss="modal"><%= t('shared.cancel') %></button>
         </div>
         <div class="col-md-6 col-6">
            <button type="submit" class="creat-button createOwnErc721Form"><%= t('collections.form.create_contract') %></button>
         </div>
      </div>
   </div>
</div>

<div class="zoom-anim-dialog mfp-hide modal sm_modal" id="deployContract">
   <button class="modal__close md_cls" type="button"><i class="fas fa-times"></i></button>
   <h4 class="modal-title share_link_page_h4"><%= t('collections.form.follow_steps') %></h4>
   <div class="modal-body pl-30 pr-30 last_bdr_remove">
      <div class="row deployContract">
         <%= render partial: 'deploy_contract' %>
      </div>
      <div class="row signMsg hide">
         <%= render partial: 'sign_deploy_contract' %>
      </div>
   </div>
</div>

<div class="zoom-anim-dialog mfp-hide modal sm_modal" id="collectionStepModal">
  <button class="modal__close md_cls collectionModalClose" type="button"><i class="fas fa-times"></i></button>
  <h4 class="modal-title share_link_page_h4"><%= t('collections.form.follow_steps') %></h4>
  <p class="modal-text"> Great things take time! But this one will be <br> only a few minutes. </p>
  <div class="modal-body pl-30 pr-30 last_bdr_remove">
    <div class="row approveFlow">
      <%= render partial: 'approve' %>
    </div>

    <div class="row mintFlow">
      <%= render partial: 'mint' %>
    </div>

    <div class="row signFixedPrice hide">
      <%= render partial: 'sign_fixed_price' %>
    </div>

    <div class="row signLockedContent hide">
      <%= render partial: 'sign_locked_content' %>
    </div>
  </div>

</div>



</div>

<script>
   $(document).ready(function(){
     
     $(".close-top-notify").click(function(){
       $(".main").addClass("close-nav");
     });

     $("#ownContract").click(function(){
       $("#ownContract").addClass("show-items-active");
       $("#sharedContract").removeClass("show-items-active");
       $(".existingContracts").removeClass("show-items-active");
       $("#own").prop("checked", true);
       $("#shared").prop("checked", false);
       $("#exisitng").prop("checked", false);
     })

     $("#sharedContract").click(function(){
         $("#sharedContract").addClass("show-items-active");
         $("#ownContract").removeClass("show-items-active");
         $(".existingContracts").removeClass("show-items-active");
         $("#shared").prop("checked", true);
         $("#own").prop("checked", false);
         $("#exisitng").prop("checked", false);
     })

   });

   function highlightContract(event, contractId){
      tabcontent = document.getElementById(contractId);
      tabcontent.classList.add('show-items-active');
      $("#ownContract").removeClass("show-items-active");
      $("#sharedContract").removeClass("show-items-active");
      $("#shared").prop("checked", false);
      $("#own").prop("checked", false);
      $("#exisitng").prop("checked", true);
   }

   
   
     
</script>
