<div id="change-price" class="zoom-anim-dialog mfp-hide modal sm_modal change-price-popup collection-page">
  <button class="modal__close md_cls" type="button"><i class="fas fa-times"></i></button>
  <h4 class="modal-title share_link_page_h4"><%= t('collections.show.change_price') %></h4>
  <%= form_tag(change_price_collection_path, method: :post, remote: true, class: 'change-price-form') do %>
    <%= hidden_field_tag 'id', @collection.address, class: 'nft-detail-name' %>


    <div class="modal-body grey-bg">
      <div class="row mb-15">
        <div class="col-md-10 col-sm-10 col-xs-10">
          <div class="check-div" style="margin: 10px 20px;">
            <label><%= t('shared.put_on_sale') %></label> <br>
            <span style="font-size: 14px; color:#000; margin:10px"><%= t('shared.pos_msg') %></span>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <label class="switch" style="float:right">
            <% if @collection.put_on_sale? %>
              <input type="checkbox" name="collection[put_on_sale]" id="collection-put-on-sale" checked>
            <% else %>
              <input type="checkbox" name="collection[put_on_sale]" id="collection-put-on-sale">
            <% end %>
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div class="row mb-15">
        <div class="col-md-10 col-sm-10 col-xs-10">
          <div class="check-div" style="margin: 10px 20px;">
          <label><%= t('shared.instant_sale_price') %></label> <br>
          <span  style="font-size: 14px; color:#000; margin: 10px;"><%= t('shared.instant_sale_price_msg') %></span>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <label class="switch">
            <input type="checkbox" id="collection_instant_sale_enabled" prevVal="<%= @collection.instant_sale_enabled %>" name="collection[instant_sale_enabled]" <%= 'checked' if @collection.instant_sale_enabled %>>
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div id='instPrice' class="row mb-15 <%= 'hide' unless @collection.instant_sale_price.present? %>">
        <div class="col-sm-12">
          <div class="form-group bidBuyInputs bordered">
            <div class="user-entered-value ">
              <input onkeypress="return validDecimalPoint(event)" type="text" name="collection[instant_sale_price]" prevVal="<%= @collection.instant_sale_price %>" value="<%= @collection.instant_sale_price %>" class="form-control input-custom sign__input" id="instant-price" placeholder="Enter price for one piece"/>
            </div>
            <div class="form-div  col-sm-4">
            <select name="collection[erc20_token_id]" id="collection_erc20_token_id" class="" required="required">
            <!-- Adding ethereum here as default, because ethereum is not an ERC20 -->
                  <% if @collection.is_eth_payment%>
                    <option value="eth" address="0x0000000000000000000000000000000000000000" > ETH </option>
                  <% else %>
                    <% (Erc20Token.where(id: @collection.erc20_token_id)).each do |token| %>
                      <option address="<%=token.address%>" decimals="<%=token.decimals%>" value="<%=token.id%>"> <%=token.symbol.upcase%> </option>
                    <% end %>
                  <% end %>
            </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= submit_tag 'Update', class: 'hide', id: 'submitPriceChange', 'data-disable-with': "<i class='fa fa-spinner fa-spin'></i> Updating...".html_safe %>
      <a class="bidding-element-btn secondary-btn" data-dismiss="modal" role="button">Cancel</a>
      <a class="btn bidding-element-btn triggerPriceChange theme-btn" href="javascript:void(0)" role="button">Update</a>
    </div>
  <% end %>
</div>


<div class="zoom-anim-dialog mfp-hide modal sm_modal" id="priceChange">
  <button class="modal__close md_cls" type="button"><i class="fas fa-times"></i></button>
  <h4 class="modal-title share_link_page_h4"><%= t('shared.follow_steps') %></h4>
  <div class="modal-body">

    <div class="approveFlow">
      <%= render partial: 'approve' %>
    </div>

    <div class="signFixedPrice hide">
      <%= render partial: 'sign_fixed_price' %>
    </div>
  </div>
</div>
