<%hidden_field_tag "contract_address", contract.address%>

<div class="featured-creators-box cluster-box" style="margin-top: 20px">
    <a href="<%= nft_contract_path(contract.address)%>">
        <div class="featured-creators-box-img">
            <div class="featured-creators-box-img-bg" style="background-image:url('<%=contract.cover_url%>')">
            <img src="<%=contract.cover_url%>;" class="img-responsive">
            </div>
            <div class="featured-creators-box-img-profile">
            <img src="<%=contract.attachment_url%>" class="img-responsive">
            </div>
        </div>
        <div class="featured-creators-box-content">
            <h4><%=contract.name%></h4>
            <p><%=contract.description%></p>
        </div>
    </a>
</div>