<main class="main m_home new_NFT_screen">
   <div  class=" NFT_SCREEN">
      <!-- section 1 start-->
      <div class="sec_1_common_bg">
         <div class="sec_wd_standared">
            <div class="sec_1_bg">
               <% if current_user %>
               <div class="section section_1 video-added-here  padding-off">
                  <!-- remove padding-off class when enable top notify-->
                  <% else %>
                  <div class="section section_1 video-added-here padding-off">
                     <% end %>
                     <!--  <div class="search-menu-action">
                        <p>
                            <input placeholder="Search" />
                            <img src="/assets/nft/Close.svg" alt="Search" />
                        </p>
                        
                        </div> -->
                     <div class="welcome-text">
                      <!--   <label>BIGGEST NFT MARKETPLACE</label> -->
                        <span class="cricle-round">
                        </span>
                        <!-- <h2>Discover, Create & Sell<br></br> Digital Artworks.
                        </h2> -->
                        <h2>Connecting artists, collectors & <br> fans with exclusive & curated <br>experiences in web3.</h2>
                        <!-- <p>Curated Collections feature CrossTower-exclusive art, utilities, and 
                           <br></br> experiences. Join us on our experimental journey to push the bounds <br></br>
                           of NFT utility.
                        </p> -->
                        <div class="nft-welcome-btn" >
                           <a class="verse-txt" href="/search">
                              <button>Explore</button>
                           </a>
                        </div>
                        
                        <!-- <div class="nft-welcome-btn" >
                              <button>modal</button>
                        </div> -->

                     </div>
                     <div class="right-images video-here">
                        <div class="banner_sec">
                           <div class="youtube-video ">
                              <iframe width="1081" height="608" src="https://www.youtube.com/embed/0dMcJq9laOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
                           </div>
                           <%#= image_tag "/assets/banner.png"%>
                        </div>
                        <!-- <div class="slideshow-container">
                           <div class="mySlides fade-In">
                             <div class="welcome-banner-imges">
                             <div class="img-panel">
                                 <a class="image-fit"> <img src="../../assets/nft/banner-img/48f1fb3e50c3a460a3db84b478d72a34.png" alt="NFT_IMG_1" />  </a>
                             </div>
                             <div class="img-panel img_2">
                                 <a class="image-fit"> <img src="../../assets/nft/banner-img/cc20c8bbceaa457718feb98ed273299c.png" alt="NFT_IMG_1" />  </a>
                             </div>
                             <div class="img-panel img_3">
                                 <a class="image-fit"> <img src="../../assets/nft/banner-img/b429c89086b376d58038c62a5cd3be32.png" alt="NFT_IMG_1" />  </a>
                             </div>
                             <div class="img-panel img_4">
                                 <a class="image-fit"> <img src="../../assets/nft/banner-img/b3841850981480eb648ea963a3a97237.png" alt="NFT_IMG_1" />  </a>
                             </div>
                           </div>
                           </div>
                           
                           <div class="mySlides fade-In">
                            
                            <div class="welcome-banner-imges">
                             <div class="img-panel">
                                 <a class="image-fit"> <img src="../../assets/nft/banner-img/e1adfb9ef4c4fb85a789d4c1ba68e98b.png" alt="NFT_IMG_1" />  </a>
                             </div>
                             <div class="img-panel img_2">
                                 <a class="image-fit"> <img src="../../assets/nft/banner-img/d4729ceda2e84990892d5deb6ed29291.png" alt="NFT_IMG_1" />  </a>
                             </div>
                             <div class="img-panel img_3">
                                 <a class="image-fit"> <img src="../../assets/nft/banner-img/904466567b78e7e077c6dbee5ae5ed39.png" alt="NFT_IMG_1" />  </a>
                             </div>
                             <div class="img-panel img_4">
                                 <a class="image-fit"> <img src="../../assets/nft/banner-img/21819bea0a09fee32650ad4f8bb9b930.png" alt="NFT_IMG_1" />  </a>
                             </div>
                           </div>
                           </div>
                           
                           <div class="mySlides fade-In">
                             <div class="welcome-banner-imges">
                             <div class="img-panel">
                                 <a class="image-fit"> <img src="../../assets/nft/banner-img/48f1fb3e50c3a460a3db84b478d72a34.png" alt="NFT_IMG_1" />  </a>
                             </div>
                             <div class="img-panel img_2">
                                 <a class="image-fit"> <img src="../../assets/nft/banner-img/cc20c8bbceaa457718feb98ed273299c.png" alt="NFT_IMG_1" />  </a>
                             </div>
                             <div class="img-panel img_3">
                                 <a class="image-fit"> <img src="../../assets/nft/banner-img/b429c89086b376d58038c62a5cd3be32.png" alt="NFT_IMG_1" />  </a>
                             </div>
                             <div class="img-panel img_4">
                                 <a class="image-fit"> <img src="../../assets/nft/banner-img/b3841850981480eb648ea963a3a97237.png" alt="NFT_IMG_1" />  </a>
                             </div>
                           </div>
                           </div>
                           
                           
                           
                           
                           </div>
                           
                           <div class="slider-pointer">
                             <a class="prev" onclick="plusSlides(-1)">
                               <img src="/assets/nft/down-arrow.svg" />
                             </a>
                             <span class="dot" onclick="currentSlide(1)"></span> 
                             <span class="dot" onclick="currentSlide(2)"></span> 
                             <span class="dot" onclick="currentSlide(3)"></span> 
                              <a class="next" onclick="plusSlides(1)">
                                <img src="/assets/nft/down-arrow.svg"  />
                              </a>
                           </div> -->
                     </div>
                     
                     <!--  NFT Purchase Complete -->
                     <!-- <Modal>
                        <Box class="My_modal mft-purchase">
                            <div class="close-icon">  <img src="/assets/nft/blue-Close.svg" alt="Blue_CLOSE" /></div>
                            <div>
                                <ul>
                                    <li>
                                        <img src="/assets/nft/add-nft-modal.svg" alt="NFT_Modal" />
                                        <h6>NFT Purchase Complete</h6>
                                        <p class="remove-border">Your NFT has been view on your collections</p>
                                        <button>Go to Collection</button>
                                    </li>
                                </ul>
                            </div>
                        </Box>
                     </Modal> -->
                       <!--  page 5 modal end -->

                     <!--  Follow steps -->
                     <!-- <Modal>
                        <Box class="My_modal steps-approve">
                           <div class="close-icon">  <img src="/assets/nft/blue-Close.svg" alt="Blue_CLOSE" /></div>
                           <div class="modal-top-heading">
                              <h6>Follow Steps</h6>
                              <p class="remove-border">Great things take time! But this one will be only a few minutes.</p>
                           </div>
                           <div class="progress-steps">
                              <img src="../../assets/nft/modal-img/nft-done.svg">
                              <div class="process-states">
                                 <h6>Approve</h6>
                                 <p>Checking balance and approving</p>
                              </div>
                              <button>In Progress</button>
                           </div>
                        </Box>
                     </Modal> -->
                     <!--  page 8 modal end -->

                     <!--  page 6 modal end -->

                     <!--  Congratulations popups -->
                     <!-- <Modal>
                        <Box class="My_modal congratulation-modal">
                           <div class="close-icon">  <img src="/assets/nft/blue-Close.svg" alt="Blue_CLOSE" /></div>
                           <div class="modal-body-section">
                              <div class="uploaded-nft">
                                 <img src="/assets/nft/Mike.png" alt="NFT_Modal" class="selected-nft" />
                                 <img src="/assets/nft/modal-img/nft-done.svg" alt="NFT_Modal" class="congratz-img" />                                          
                              </div>
                              <h6>Congratulations!</h6>
                              <p class="remove-border">You have successfully created your NFT, it will be minted in blockchain while purchasing or transferring.</p>
                              <button>View NFT</button>
                           </div>
                        </Box>
                     </Modal> -->

                      <!--  Notification  popups -->
                        <!--  -->

                     <!-- share modal 
                       <Modal>
                        <Box class="My_modal notify-inbox-message share-media">
                           <div class="close-icon">  <img src="/assets/nft/blue-Close.svg" alt="Blue_CLOSE" /></div>
                           <div class="notify-heading">
                              Share This NFT
                           </div>
                           <div class="modal-body-section">
                              <div class="notify-msg-box">
                                 <div class="about-notification">
                                    <img src="/assets/facebook-logo.png" />
                                    <img src="/assets/twitter.png" />
                                    <img src="/assets/instagram.png"  />
                                    <img src="/assets/linkedin.png"  />
                                    <img src="/assets/youtube.png" />
                                    <img src="/assets/telegram.png"  />
                                    <img src="/assets/discord.png" />
                                    
                                 </div>
                                 <button><img src="/assets/nft/modal-img/link.svg" alt="NFT_Modal"/> Copy Link</button>
                              </div>
                              
                           </div>
                        </Box>
                       </Modal> -->
                     
                     <!-- <Modal>
                        <Box class="My_modal notify-inbox-message">
                              <div class="close-icon">  <img src="/assets/nft/blue-Close.svg" alt="Blue_CLOSE" /></div>
                              <div class="notify-heading">
                              Notification
                              </div>
                              <div class="modal-body-section">
                              <div class="notify-msg-box">
                                    <div class="about-notification active">
                                    <img src="../../assets/nft/notification/noti.svg" class="notify-icon" />
                                    <img src="../../assets/nft/notification/noti-clr.svg" class="notify-clear" />
                                    <div class="info-detail">
                                          <h6>Item Sold</h6>
                                          <p>When someone purchased one of your items</p>
                                    </div>
                                    </div>
                                    <p class="notify-time">10/12/2022 10:22 AM</p>
                              </div>
                              <div class="notify-msg-box">
                                    <div class="about-notification">
                                       <img src="../../assets/nft/notification/noti.svg" class="notify-icon" />
                                    <img src="../../assets/nft/notification/noti-clr.svg" class="notify-clear" />
                                    <div class="info-detail">
                                          <h6>Item Sold</h6>
                                          <p>When someone purchased one of your items</p>
                                    </div>
                                    </div>
                                    <p class="notify-time">10/12/2022 10:22 AM</p>
                              </div>
                              </div>
                        </Box>
                     </Modal> -->
                  </div>
               </div>
               <div class="sec_2_bg">
                  <div class="section section_1 art-sec">
                     <div class="art-collection">
                        <div class="art-collection-lists">
                           <div class="profile-detail">
                              
                              <div class="name-detail">
                                 <img src="../../assets/nft/exclusive-celebrity/Creators.png" alt="NFT_IMG_1" />
                                 <div class="name-detail_flex">
                                 <h6>For Creators</h6>
                                <!--  <a>Tools, resources and teams to help you turn your creations into NFTs, broaden your reach and connect with your community.</a> -->
                                 <a>We will hand-hold you and your project from ideation to actualization through our selective advisory services.</a>
                                 </div>
                              </div>
                           </div>
                           <div class="profile-detail">
                              <div class="name-detail">
                                    <img src="../../assets/nft/exclusive-celebrity/Collectors.png" alt="NFT_IMG_1" />
                                 <div class="name-detail_flex">
                                 <h6>For Collectors</h6><!-- 
                                 <a>Unique digital collectibles from diverse and innovative artists, brands and celebrities</a> -->
                                  <a>Rare collectibles, exclusive and curated experiences.</a>
                               </div>
                              </div>
                           </div>
                           <div class="profile-detail add-learn-more-btn">
                             <!--  <img src="../../assets/nft/exclusive-celebrity/Everyone.png" alt="NFT_IMG_1" />
                              <div class="name-detail">
                                 <h6>For Everyone</h6>
                                 <a>Curated quality. Select art and experiences. A community to create, collect and explore with.</a>
                              </div> -->
                                   <div class="browse-btn learn-more">
                                       <a href="/faq" class="browse-txt">
                                       <button> Learn More <img src="../../assets/nft/white-right.svg" /> </button>                                      
                                       </a>
                                    </div>

                           </div>
                        </div>
                   <!--      <div class="browse-btn learn-more">
                           <button>
                           <a href="/faq" class="browse-txt"> Learn More
                           <img src="../../assets/nft/white-right.svg" />
                           </a>
                           </button>
                        </div> -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- section 2 start-->
         <div class="sec_3_bg">
            <div class="sec_wd_standared">
               <div class="section section_2">
                  <h3>Curated Creations</h3>
                  <div class="browse-btn  brwse-more">   
                     <a href="/celebrity" class="browse-txt celebrity-btn">
                        <button>Browse <img src="../../assets/nft/right.svg" /></button>                        
                     </a>
                  </div>
                  <ul>
                     <span class="bg-transition"></span>
                     <li>
                        <div class="carousal-menus">
                           <a href="https://nft.crosstower.com/nft_contracts/0xAa58e6e4d53D00B79566de4782fE9d39acD1CEB2" target="_blank" class="navigate-to-Link"></a>
                           <img src="../../assets/nft/exclusive-celebrity/David_Bowie.png" alt="NFT_IMG_1" style="border-radius:55px" />
                           <div class="desc">
                              <h6>BowieWorld Genesis</h6>
                              <a>3D Multi-User Metaverses since '99</a>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="exclusive-row">
                           <div class="exclusive-row w-50">
                              <div class="carousal-menus">
                                 <a href="https://nft.crosstower.com/users/0x0a98bbcdada014f0d0d2ea9f5d9551dcf35b7ae3" target="_blank" class="navigate-to-Link"></a>
                                 <img src="../../assets/nft/exclusive-celebrity/Mike Boornazian.png" alt="NFT_IMG_1" />
                                 <div class="desc">
                                    <h6>Mike Boornazian</h6>
                                    <a>An American Actor, Model and Influencer</a>
                                 </div>
                              </div>
                           </div>
                           <div class="exclusive-row w-50">
                              <div class="carousal-menus">
                                 <a href="https://nft.crosstower.com/users/0xa86a6321ce1d95b4e96e6a48658e48d2741d6814" target="_blank" class="navigate-to-Link"></a>
                                 <img src="../../assets/nft/exclusive-celebrity/Patrick Farrell.png" alt="NFT_IMG_1" />
                                 <div class="desc">
                                    <h6>Patrick Farrell</h6>
                                    <a>A community builder, Tech company founder</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="exclusive-row">
                           <div class="exclusive-row w-50">
                              <div class="carousal-menus">
                                 <a href="https://nft.crosstower.com/users/0xd081af35f73dd206d47462ea5e41e75a05df4509" target="_blank" class="navigate-to-Link"></a>
                                 <img src="../../assets/nft/exclusive-celebrity/ShannonRoseStudio.png" alt="NFT_IMG_1" />
                                 <div class="desc">
                                    <h6>SharonRose</h6>
                                    <a>Paintings and Mixed Media Artworks</a>
                                 </div>
                              </div>
                           </div>
                           <div class="exclusive-row w-50">
                              <div class="carousal-menus">
                              <a href="https://antara.crosstower.com/" target="_blank" class="navigate-to-Link"></a>
                                 <img src="../../assets/nft/exclusive-celebrity/Antara.png" alt="NFT_IMG_1" />
                                 <div class="desc">
                                       <h6>Antara Movie NFT's</h6>
                                       <a>The History Making NFT</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- section 3 start-->
         <div class="sec_4_bg">
            <div class="sec_wd_standared">
               <div class="section section_3">
                  <h3>Trending NFTs</h3>
                  <div class="browse-btn  brwse-more">   
                     <a href="/search" class="browse-txt">
                     <button> Browse <img src="../../assets/nft/right.svg" /></button>                        
                     </a> 
                  </div>
                  <ul>
                     <% if @hot_collections.present? %>
                        <% @hot_collections.each do |collection| %> 
                           <% collection_attachment = collection.get_attachment(current_user)%>
                           <li>
                              <div class="img-panel">
                                 <div class="image-fit">
                                    <div class="image_top_section">
                                    <a href="<%= collection_path(collection.address)%>" class="img-fit-user">
                                       <%= image_tag cover_url(collection), class:"img-fixed-wd"%>
                                       <h6 class="auction-heading">
                                          <strong><%= collection.title %></strong>
                                          <% if collection.own_collection.present? %>
                                             <a  class="auction_navigation" href="<%=nft_contract_path(collection.collection_address)%>"> <strong>  <%= collection.contract_name %> </strong> </a>
                                          <% else %>                    
                                              <a class="auction_navigation" href="<%=nft_contract_path(collection.collection_address)%>"> <strong>  <%= collection.collection_info_name %> </strong> </a>
                                          <% end %>
                                       </h6>
                                    </a>
                                    <h5 class="share-icon t_c">
                                       <a class="more_action_btn" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       <img src="../../assets/nft/share.svg" class="share-menu-icon" />
                                       </a>
                                       <ul class="dropdown-menu header__profile-menu" aria-labelledby="dropdownMenuProfile">
                                          <li><a target=_blank href="https://www.facebook.com/sharer/sharer.php?u=<%= current_url %>&caption=<%= collection.name %>&description=<%= collection.description %>" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                             <i class="fa fa-facebook"></i><span>Facebook</span>
                                             </a>
                                          </li>
                                          <li><a target=_blank href="https://twitter.com/share?url=<%= current_url %>&text=<%= collection.name %>, <%= collection.description %>" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                             <i class="fa fa-twitter"></i><span>Twitter</span>
                                             </a>
                                          </li>
                                          <li><a target=_blank href="https://telegram.me/share/url?url=<%= current_url %>&text=<%= collection.name %>, <%= collection.description %>" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                             <i class="fa fa-telegram"></i><span>Telegram</span>
                                             </a>
                                          </li>
                                          <li><a target=_blank href="mailto:?subject=<%= collection.name %>&body=<%= collection.description %> Link here:<%= current_url %>">
                                             <i class="fa fa-envelope"></i><span>Envelope</span>
                                             </a>
                                          </li>
                                       </ul>
                                       <%= react_component("collections/like", address: current_user&.address, likes: collection.likes, collectionId: collection.id, 
                                          liked: collection.is_liked_by_me(current_user&.id), 
                                          ) %>
                                    </h5>
                                    </a>
                                 </div>
                                    <div class="desc">
                                       <div class="caption">
                                          <div class="profile-detail">
                                             <%= image_tag collection.creator.profile_image %>
                                             <div class="name-detail">
                                                <h6>Creator</h6>
                                                <%= link_to collection.creator.full_name, user_path(collection.creator.address)%>
                                             </div>
                                          </div>
                                          <div class="profile-detail">
                                             <%= image_tag collection.owner.profile_image %>
                                             <div class="name-detail">
                                                <h6>Owner</h6>
                                                <%= link_to collection.owner.full_name, user_path(collection.owner.address)%>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="caption add-btn">
                                          <div class="profile-detail">
                                             <div class="name-detail">
                                                <% if collection.instant_sale_price%>
                                                   <h6>Price</h6>
                                                   <i><span><%=collection.instant_sale_price%></span>  WETH</i>
                                                <% else %>
                                                   <% if collection.max_bid %>
                                                      <h6>Highest bid </h6>
                                                      <i><span><%= collection.max_bid.amount %></span> WETH</i>
                                                   <%else%>
                                                      <span>No active Bids</span> 
                                                   <% end %>
                                                <%end%>
                                             </div>
                                          </div>
                                          <div class="profile-detail">
                                             <a href="<%= collection_path(collection.address)%>">
                                             <% if not collection.is_owner?(current_user) %>   
                                                 <button>Buy</button>
                                             <% end %>
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </li>
                        <% end %>
                        <% else %>
                           <% 1.times do %>
                           <div class="col-12">
                              <%= render partial: 'common/empty' %>
                           </div>
                           <% end %>
                        <% end %>
                  </ul>
                  <div class="sell-NFT">
                     <h3>Steps to buy NFTs on Auction Day</h3>
                     <div class="circle-bg">
                        <div class="profile-detail">
                           <span> <img src="../../assets/nft/Steps-to-buy/Create.svg" alt="Create Your Wallet">
                           </span>
                           <div class="name-detail">
                              <h6>Create Your Wallet</h6>
                              <a>Download and set up your MetaMask or <br></br>Wallet compatible with Wallet Connect.</a>
                           </div>
                        </div>
                        <div class="profile-detail">
                           <span> <img src="../../assets/nft/Steps-to-buy/start.svg" alt="Connect Your Wallet" /></span>
                           <div class="name-detail">
                              <h6>Connect Your Wallet</h6>
                              <a>Connect your MetaMask or<br></br> Wallet Connect to Marketplace.</a>
                           </div>
                        </div>
                        <div class="profile-detail">
                           <span>  <img src="../../assets/nft/Steps-to-buy/connect.svg" alt="Start Your Collection" /></span>
                           <div class="name-detail">
                              <h6>Start Your Collection</h6>
                              <a>Browse and collect one-of-a-<br></br> kind NFTs.</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- section 4 start-->
         <div class="sec_5_bg">
            <div class="sec_wd_standared">
               <div class="section  section_4">
                  <div class="sell-NFT">
                     <h3>Steps to buy NFTs on Auction Day</h3>
                     <div class="circle-bg">
                        <div class="profile-detail">
                           <span> <img src="../../assets/nft/Steps-to-buy/Create.svg" alt="Create Your Wallet">
                           </span>
                           <div class="name-detail">
                              <h6>Create Your Wallet</h6>
                              <a>Download and set up your MetaMask or <br></br>Wallet compatible with Wallet Connect.</a>
                           </div>
                        </div>
                        <div class="profile-detail">
                           <span> <img src="../../assets/nft/Steps-to-buy/start.svg" alt="Connect Your Wallet" /></span>
                           <div class="name-detail">
                              <h6>Connect Your Wallet</h6>
                              <a>Connect your MetaMask or<br></br> Wallet Connect to Marketplace.</a>
                           </div>
                        </div>
                        <div class="profile-detail">
                           <span>  <img src="../../assets/nft/Steps-to-buy/connect.svg" alt="Start Your Collection" /></span>
                           <div class="name-detail">
                              <h6>Start Your Collection</h6>
                              <a>Browse and collect one-of-a-<br></br> kind NFTs.</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <h3>All About NFTs</h3>
                  <div class="collapsed-section">
                     <div class="collapsed-menu-section">
                        <div class="accordion-panel-set">
                           <button class="accordion">What are NFTs?
                           <img src="../../assets/nft/about_nft/minus.svg" class="minus" />
                           <img src="../../assets/nft/about_nft/plus.svg" class="plus" />
                           </button>
                           <div class="panel">
                              <p>A non-fungible token (NFT) is a distinctive and non-interchangeable unit of data stored on a digital ledger. NFTs give the ability to assign or claim ownership of any unique piece of digital data, trackable by using Ethereum's blockchain or a digital ledger. The NFT can be associated with a particular digital or physical asset (such as file or physical object) and license to use the asset for a specified objective. NFTs use a digital ledger to provide a public certificate of authenticity or proof of ownership, but it does not limit the sharing or copying of the underlying digital file.</p>
                           </div>
                        </div>
                        <div class="accordion-panel-set">
                           <button class="accordion">How do I create an NFT account on the CrossTower Platform? 
                           <img src="../../assets/nft/about_nft/minus.svg" class="minus" />
                           <img src="../../assets/nft/about_nft/plus.svg" class="plus" />
                           </button>
                           <div class="panel">
                              <p>CrossTower is a non-custodial NFT marketplace. To create an account, you need to have a crypto wallet that can store digital assets(MetaMask or any wallet compatible with Wallet Connect.)  </p>
                           </div>
                        </div>
                        <div class="accordion-panel-set">
                           <button class="accordion">How do I set up Ethereum Network Wallet on CrossTower?
                           <img src="../../assets/nft/about_nft/minus.svg" class="minus" />
                           <img src="../../assets/nft/about_nft/plus.svg" class="plus" />
                           </button>
                           <div class="panel">
                              <p>
                                 <i class="panel-list-menus">Go to: "https://metamask.io/"</i>
                                 <i class="panel-list-menus">Click on Install  for Chrome to start the installation</i>
                                 <i class="panel-list-menus">Add Meta Mask to your Chrome extensions</i>
                                 <i class="panel-list-menus">Click on Get Started</i>
                                 <i class="panel-list-menus">Click on Create a Wallet</i>
                                 <i class="panel-list-menus">Follow the prompts and Create a Password</i>
                                 <i class="panel-list-menus">Reveal Secret Backup Phrase</i>
                                 <i class="panel-list-menus">All Done</i>
                              </p>
                           </div>
                        </div>
                        <div class="accordion-panel-set">
                           <button class="accordion">How do I purchase my first NFT?
                           <img src="../../assets/nft/about_nft/minus.svg" class="minus" />
                           <img src="../../assets/nft/about_nft/plus.svg" class="plus" />
                           </button>
                           <div class="panel">
                              <p>
                                 <i class="panel-list-menus">You must connect a wallet to purchase NFTs on CrossTower.</i>
                                 <i class="panel-list-menus">Wallets supported on CrossTower - <a href="https://metamask.io/" class="inline" target="_blank">Metamask</a></i>
                                 <i class="panel-list-menus">Login or SignUp using your wallet address. Get the required amount of ETH in MetaMask Wallet.</i>
                                 <i class="panel-list-menus">Go to "Discover NFTs."</i>
                                 <i class="panel-list-menus">Select your favorite NFT and Click on "Buy Now."</i>
                                 <i class="panel-list-menus">Re-check the price and other information related to NFT and click on "Buy Now"</i>
                                 <i class="panel-list-menus">After payment, you can see your purchased NFT under my collectibles.</i>
                              </p>
                           </div>
                        </div>
                        <div class="accordion-panel-set">
                           <button class="accordion">Can I transfer my NFT?
                           <img src="../../assets/nft/about_nft/minus.svg" class="minus" />
                           <img src="../../assets/nft/about_nft/plus.svg" class="plus" />
                           </button>
                           <div class="panel">
                              <p>
                                 <i class="panel-list-menus">Go to your account (Metamask) and select your desired NFT; click Send.</i>
                                 <i class="panel-list-menus">Enter the recipient’s public wallet address (or ENS, where applicable)</i>
                                 <i class="panel-list-menus">Pay the transaction fee</i>
                                 <i class="panel-list-menus">You can then verify your transfer on Etherscan.io</i>
                              </p>
                           </div>
                        </div>
                     </div>
                     <img src="../../assets/nft/about_nft/All_About_NFTs.svg" class="hide-web" />
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
<script>
   // $(document).ready(function(){
   //   $(".accordion").click(function(){
   //     $("p").toggleClass("main");
   //   });
   // });
   
   
   
   // let slideIndex = 1;
   // showSlides(slideIndex);
   
   // function plusSlides(n) {
   //   showSlides(slideIndex += n);
   // }
   
   // function currentSlide(n) {
   //   showSlides(slideIndex = n);
   // }
   
   // function showSlides(n) {
   //   let i;
   //   let slides = document.getElementsByclass("mySlides");
   //   let dots = document.getElementsByclass("dot");
   //   if (n > slides.length) {slideIndex = 1}    
   //   if (n < 1) {slideIndex = slides.length}
   //   for (i = 0; i < slides.length; i++) {
   //     slides[i].style.display = "none";  
   //   }
   //   for (i = 0; i < dots.length; i++) {
   //     dots[i].class = dots[i].class.replace(" active", "");
   //   }
   //   slides[slideIndex-1].style.display = "block";  
   //   dots[slideIndex-1].class += " active";
   // }
   
   
   $(document).ready(function(){
     $(".close-top-notify").click(function(){
       $(".NFT_SCREEN").addClass("close-nav");
     });
   });
   $(document).ready(function(){
     $(".close-top-notify").click(function(){
       $(".NFT_SCREEN_Header").addClass("close-nav");
     });
   });
   
  

   $(document).ready(function(){
     $(".nft-welcome-btn button").click(function(){
       $("body").addClass("open-modal");
     });
   });
   $(document).ready(function(){
     $(".nft-welcome-btn button").click(function(){
       $(".notify-inbox-message").addClass("open-modal");
     });
   });
   
   $(document).ready(function(){
     $(".close-icon").click(function(){
       $("body").removeClass("open-modal");
       $(".notify-inbox-message").removeClass("open-modal");
     });
   });
   
   
   var acc = document.getElementsByClassName("accordion");
   var i;
   
   for (i = 0; i < acc.length; i++) {
     acc[i].addEventListener("click", function() {
       this.classList.toggle("active");
       var panel = this.nextElementSibling;
       if (panel.style.maxHeight) {
         panel.style.maxHeight = null;
       } else {
         panel.style.maxHeight = panel.scrollHeight + "px";
       } 
     });
   }
   
</script>
