<span hidden="hidden" id="follow_path"> <%=follow_users_path(id: @user.address)%> </span> 
<span hidden="hidden" id="unfollow_path"> <%=unfollow_users_path(id: @user.address)%> </span> 
<span hidden="hidden" id="followers_path"> <%= "/followers_list?id=#{@user.address}" %> </span>
<span hidden="hidden" id="following_path"> <%= "/following_list?id=#{@user.address}" %> </span>
<span hidden="hiddden" id="load_tabs"><%="/show_tabs?id=#{@user.address}"%> </span> 
<span hidden="hiddden" id="current_tab"></span> 

<main class="main mt-0 NFT-detail profile-Page">
   <div class="" >
      <div class="container bg-effect">
         <div class="row">
            <div class="col-12">
               <div class="profile-bg  hide-mob-detail">
                  <% if current_user.nil? %>
                     <a class="follow-no-user">
                        <span class="edit-profile follow-btn">
                           Follow
                        </span>
                     </a>
                  <% elsif current_user == @user %>
                     <a href="<%=edit_user_path(current_user)%>">
                        <span class="edit-profile">
                           <img src="../../assets/nft/Edit-Profile.svg"> Edit Profile
                        </span>
                     </a>
                  <% elsif current_user.present? && current_user != @user %>
                     <% if !current_user.followees.include?(@user) %>
                        <a onclick ="followUser('web-view')" class="follow-tag">
                           <span class="edit-profile follow-btn">
                              Follow
                           </span>
                        </a>
                     <% else %>
                        <a onclick="unFollowUser('web-view')" class="unfollow-tag">
                           <span class="edit-profile follow-btn unfollow-btn">
                              Unfollow
                           </span>
                        </a>
                     <% end %>
                  <% end %>
                  <div class="profile-details">
                     <span class="bg-shadow "></span>
                     <% if @user.attachment.attached? %>
                      <%= image_tag url_for(@user.profile_image), class:"background_banner_image" %>
                     <% else %>
                      <img src="../../assets/bg-grey.png" class="background_banner_image">
                     <% end %>
                     <%= image_tag url_for(@user.profile_image), class:"profile-image-tag" %>
                     <div class="prfile_name_details">
                        <% if @user.name %>
                          <h4><%= link_to_name(@user) %></h4>
                        <% end %>
                        <h5>
                         <!--   <% if @user.twitter_link %>
                            <span class="twitter-id"> <%= link_to_twitter(@user) %>
                            <img src="../../assets/nft/modeling/check.png">
                            </span>
                           <% end %> -->
                           <span class="insta-id"> <%= @user.masked_address(8) %> 
                           <span hidden="hidden" id="address"> 
                           <%= @user.address %> </span> 
                           <img src="../../assets/nft/modeling/copy.png" class="copy_address">
                           </span>
                        </h5>
                        <ul>
                           <% if @user.personal_url.present? %>
                           <li><a href= <%= format_link(@user.personal_url) %> target="_blank"><img src="../../assets/nft/modeling/insta.png"></a></li>
                           <% end %>
                           <% if @user.twitter_link.present? %>
                           <li><a href="<%= twitter_url(@user) %>" target="_blank"><img src="../../assets/nft/modeling/twt.png"></a></li>
                           <% end %>
                           <% if @user.facebook_link.present? %> 
                           <li><a href="<%= format_link(@user.facebook_link) %>" target="_blank"><img src="../../assets/nft/modeling/fb.png"></a></li>
                           <% end %>
                           <% if @user.youtube_link.present? %> 
                           <li><a href="<%= format_link(@user.youtube_link) %>" target="_blank"><img src="../../assets/nft/modeling/you.png"></a></li>
                           <% end %>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="profile-bg view-mob-detail">
                    <% if current_user == @user %>
                     <a href="<%=edit_user_path(current_user)%>">
                        <span class="edit-profile">
                           <img src="../../assets/nft/Edit-Profile.svg"> Edit Profile
                        </span>
                     </a>
                     <% end %>
                  <div class="profile-details profile-pic-shown">
                      <span class="bg-shadow "></span>
                     <% if @user.attachment.attached? %>
                     <%= image_tag url_for(@user.profile_image), class:"background_banner_image" %>
                     <% else %>
                     <img src="../../assets/bg-grey.png" class="background_banner_image">
                     <% end %>
                  </div>
                  <div class="profile-details profile-name-details">
                     <%= image_tag url_for(@user.profile_image), class:"profile-image-tag" %>
                     <div class="prfile_name_details">
                        <% if @user.name %>
                        <h4><%= link_to_name(@user) %>
                        <!-- <span> 
                        <% if @user.twitter_link %>
                          <img src="../../assets/nft/modeling/check.png"> 
                        <% end %>
                        </span> -->
                        </h4>
                        <% end %>
                        <h5>
                           <!--<% if @user.twitter_link %>
                            <span> <%= link_to_twitter(@user) %></span>
                           <% end %>-->
                            <span  class="highlight-address"> <span> <%= @user.masked_address(8) %> </span>
                              <span hidden="hidden" id="address"> 
                              <%= @user.address %> </span> 
                              <img src="../../assets/nft/modeling/copy.png" class="copy_address">
                            </span>
                           
                        </h5>
                        <% if @user.bio.present? and @user.bio.length > 150 %>
                           <p> <a class="textControl" > <%= link_to_bio(@user) %> </a></p>
                        <% elsif @user.bio.present? and @user.bio.length < 150 %>
                           <p> <%= link_to_bio(@user) %> </p>    
                        <% else %>        
                           <p> No bio yet! <p>
                        <% end %>
                        <ul>
                           <% if @user.personal_url.present? %>
                           <li><a href= <%= format_link(@user.personal_url) %> target="_blank"><img src="../../assets/nft/modeling/insta.png"></a></li>
                           <% end %>
                           <% if @user.twitter_link.present? %>
                           <li><a href= <%= twitter_url(@user) %> target="_blank"><img src="../../assets/nft/modeling/twt.png"></a></li>
                           <% end %>
                           <% if @user.facebook_link.present? %> 
                           <li><a href="<%= format_link(@user.facebook_link) %>" target="_blank"><img src="../../assets/nft/modeling/fb.png"></a></li>
                           <% end %>
                           <% if @user.youtube_link.present? %> 
                           <li><a href="<%= format_link(@user.youtube_link) %>" target="_blank"><img src="../../assets/nft/modeling/you.png"></a></li>
                           <% end %>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12">
               <div class="profile-tabs tabs-panel tabs-lists">
                  <div class="row mobile-row-riverse">
                     <div class="col-lg-8 col-md-12 col-sm-12 col-12 border-bottom-grey">
                        <div class="tab about-profile-information">
                           <button class="tablinks active hide-in-mob-view" onclick="openTabs(event, 'About')">
                           <%= t('users.show.about') %>
                           </button>
                           <button class="tablinks hide-in-mob-view" onclick="openTabs(event, 'listings')">
                           Listings
                           </button>
                           <button class="tablinks hide-in-mob-view" onclick="openTabs(event, 'created')">
                           <%= t('users.show.created') %>
                           </button>
                           <button class="tablinks hide-in-mob-view" onclick="openTabs(event, 'collectibles')">
                           Collected
                           </button>
                           <button class="tablinks hide-in-mob-view" onclick="openTabs(event, 'my_collections')">
                           Collections
                           </button>
                           <button class="tablinks hide-in-mob-view" onclick="openTabs(event, 'liked')">
                           Favorite
                           </button>
                           <button class="tablinks hide-in-mob-view remove-border-line" onclick="openTabs(event, 'nft_collections')">
                           Import NFTs
                           </button>
                        </div>
                        <div class="react-tab-view">
                           <%= react_component("collections/scrollableTabs") %>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="tabs-panel following-details">
                           <div class="tab">
                              <button id="activity" class="tablinks hide-in-mob-view" onclick="fetchTabContent('activity')">
                              <span id="activity-tab" class="activity-tab"> <%= t('users.show.activity') %></span>
                              </button>
                              <button id="following" class="tablinks web-follow-btn" onclick="fetchTabContent('following')">
                                 Following <span class="following-count"> (<%= @user.followees.count %>)</span>
                              </button>
                              <button id="followers" class="tablinks web-follow-btn remove-border" onclick="fetchTabContent('followers')">
                                 Followers <span class="followers-count">(<%= @user.followers.count %>)</span>
                              </button>
                              
                              <button id="mob-following" class="tablinks mob-follow-btn" onclick="fetchTabContent('following-mob')">
                                 <span class="following-count"><%= @user.followees.count %></span>  Following
                              </button>
                              <button id="mob-followers" class="tablinks mob-follow-btn" onclick="fetchTabContent('followers-mob')">
                                 <span class="followers-count"><%= @user.followers.count %></span> Followers
                              </button>

                              <% if current_user.nil? %>
                                 <button id="follow" class="tablinks mob-follow-btn">
                                    <em class="follow-no-user"> Follow </em>
                                 </button>
                              <% elsif current_user.present? && current_user != @user %> 
                                 <% if !current_user.followees.include?(@user) %>
                                    <button id="follow" class="tablinks mob-follow-btn">
                                       <em> <a onclick="followUser('mob-view')" class="follow-tag">Follow </a></em>
                                    </button>
                                 <% else %>
                                    <button id="follow" class="tablinks mob-follow-btn">
                                       <em> <a onclick="unFollowUser('mob-view')" class="unfollow-tag">Unfollow </a></em>
                                    </button>
                                 <% end %>
                              <% end %>

                           </div>
                           <div class="activity-dropdown Activity" id="activity-dropdown">
                           </div>
                           <div class="activity-dropdown Following", id="following-dropdown">
                           </div>
                           <div class="activity-dropdown Followers", id="followers-dropdown">
                           </div>
                        </div>
                     </div>
                  </div>
                  
                  <div id="About" class="tabcontent profile-mob-details hide-in-mob-view" style="display: block;">
                     <!-- <% if @user.name %>
                     <h6 class="panel-detail-heading"><%= @user.name %></h6>
                     <% end %>-->
                     <% if @user.bio.present? %>
                     <%= link_to_bio(@user) %>
                     <% else %>
                     <p class="no-data"> No Bio Yet </p>
                     <% end %>
                  </div>

                  <div id="activity-mob" class="tabcontent profile-mob-details">
                  </div>
                  
                  <div id="listings" class="tabcontent profile-mob-details ">
                     <ul class="nft_collection"> 
                           <span class="bg-transition"></span>
                     </ul>
                  </div>

                  <div id="listings" class="listings-mob tabcontent profile-mob-details mob-view-profile-tab on-sale-active">
                     <ul class="nft_collection">
                        <span class="bg-transition"></span>
                        <% if @data.present? %>
                        <% @data.each do |collection| %>
                        <%= render "/dashboard/collection_card", collection: collection %>
                        <% end %>
                        <%  else %>
                        <p class="no-data"> No NFT's Found </p>
                        <% end %>
                     </ul>
                  </div>
                  
                  <div id="created" class="tabcontent profile-mob-details">
                     <ul class="nft_collection"> 
                        <span class="bg-transition"></span>
                     </ul>
                  </div>
                  <div id="collectibles" class="tabcontent profile-mob-details">
                     <ul class="nft_collection"> 
                        <span class="bg-transition"></span>
                     </ul>
                  </div>
                  <div id="my_collections" class="tabcontent profile-mob-details">
                  </div>
                  <div id="liked" class="tabcontent profile-mob-details">
                  <ul class="nft_collection"> 
                        <span class="bg-transition"></span>
                     </ul>
                  </div>
                  <div id="nft_collections" class="tabcontent profile-mob-details">
                  </div>
                  <div id="load-more">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>


<div class="User_following-list" id="mob-following-list">
</div>

<div class="User_following-list" id="mob-followers-list">
</div>




<%= render partial: 'users/report_user' %>
<script type="text/javascript">


</script>