<main class="main mt-0 NFT-detail profile-Page">
   <div class="" >
      <div class="container bg-effect">
         <div class="row">
            <div class="col-12">
               <div class="profile-bg  hide-mob-detail">
                  <% if current_user.nil? %>
                     <a class="follow-no-user">
                        <span class="edit-profile follow-btn">
                           Follow
                        </span>
                     </a>
                  <% elsif current_user == @user %>
                     <a href="<%=edit_user_path(current_user)%>">
                        <span class="edit-profile">
                           <img src="../../assets/nft/Edit-Profile.svg"> Edit Profile
                        </span>
                     </a>
                  <% elsif current_user.present? && current_user != @user %>
                     <% if !current_user.followees.include?(@user) %>
                        <a href="<%=follow_users_path(id: @user.address)%>">
                           <span class="edit-profile follow-btn">
                              Follow
                           </span>
                        </a>
                     <% else %>
                        <a href="<%=unfollow_users_path(id: @user.address)%>">
                           <span class="edit-profile follow-btn unfollow-btn">
                              Unfollow
                           </span>
                        </a>
                     <% end %>
                  <% end %>
                  <div class="profile-details">
                     <span class="bg-shadow "></span>
                     <% if @user.attachment.attached? %>
                      <%= image_tag url_for(@user.profile_image), class:"background_banner_image" %>
                     <% else %>
                      <img src="../../assets/bg-grey.png" class="background_banner_image">
                     <% end %>
                     <%= image_tag url_for(@user.profile_image), class:"profile-image-tag" %>
                     <div class="prfile_name_details">
                        <% if @user.name %>
                          <h4><%= link_to_name(@user) %></h4>
                        <% end %>
                        <h5>
                         <!--   <% if @user.twitter_link %>
                            <span class="twitter-id"> <%= link_to_twitter(@user) %>
                            <img src="../../assets/nft/modeling/check.png">
                            </span>
                           <% end %> -->
                           <span class="insta-id"> <%= @user.masked_address(8) %> 
                           <span hidden="hidden" id="address"> 
                           <%= @user.address %> </span> 
                           <img src="../../assets/nft/modeling/copy.png" class="copy_address">
                           </span>
                        </h5>
                        <ul>
                           <% if @user.personal_url %>
                           <li><a href= <%= format_link(@user.personal_url) %> target="_blank"><img src="../../assets/nft/modeling/insta.png"></a></li>
                           <% end %>
                           <% if @user.twitter_link %>
                           <li><a href= <%= twitter_url(@user) %> target="_blank"><img src="../../assets/nft/modeling/twt.png"></a></li>
                           <% end %>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="profile-bg view-mob-detail">
                    <% if current_user == @user %>
                     <a href="<%=edit_user_path(current_user)%>">
                        <span class="edit-profile">
                           <img src="../../assets/nft/Edit-Profile.svg"> Edit Profile
                        </span>
                     </a>
                  <% end %>
                  <div class="profile-details profile-pic-shown">
                      <span class="bg-shadow "></span>
                     <% if @user.attachment.attached? %>
                     <%= image_tag url_for(@user.profile_image), class:"background_banner_image" %>
                     <% else %>
                     <img src="../../assets/bg-grey.png" class="background_banner_image">
                     <% end %>
                  </div>
                  <div class="profile-details profile-name-details">
                     <%= image_tag url_for(@user.profile_image), class:"profile-image-tag" %>
                     <div class="prfile_name_details">
                        <% if @user.name %>
                        <h4><%= link_to_name(@user) %>
                        <!-- <span> 
                        <% if @user.twitter_link %>
                          <img src="../../assets/nft/modeling/check.png"> 
                        <% end %>
                        </span> -->
                        </h4>
                        
                        <% end %>
                        <h5>
                           <!--
                           <% if @user.twitter_link %>
                            <span> <%= link_to_twitter(@user) %></span>
                           <% end %>
                           -->
                            <span  class="highlight-address"> <span> <%= @user.masked_address(8) %> </span>
                              <span hidden="hidden" id="address"> 
                              <%= @user.address %> </span> 
                              <img src="../../assets/nft/modeling/copy.png" class="copy_address">
                            </span>
                           
                        </h5>
                        <% if @user.bio and @user.bio.length > 150 %>
                           <p> <a class="textControl" > <%= link_to_bio(@user) %> </a></p>
                        <% elsif @user.bio and @user.bio.length < 150 %>
                           <p> <%= link_to_bio(@user) %> </p>    
                        <% else %>        
                           <p> No bio yet! <p>
                        <% end %>
                        <ul>
                           <!-- <li><a><img src="../../assets/nft/modeling/fb.png"></a></li> -->
                           <% if @user.personal_url %>
                           <li><a href= <%= format_link(@user.personal_url) %> target="_blank"><img src="../../assets/nft/modeling/insta.png"></a></li>
                           <% end %>
                           <!-- <li><a><img src="../../assets/nft/modeling/you.png"></a></li> -->
                           <% if @user.twitter_link %>
                           <li><a href= <%= twitter_url(@user) %> target="_blank"><img src="../../assets/nft/modeling/twt.png"></a></li>
                           <% end %>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12">
               <div class="profile-tabs tabs-panel tabs-lists">
                  <div class="row mobile-row-riverse">
                     <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                        <div class="tab about-profile-information">
                           <button class="tablinks active hide-activity-btn" onclick="openCity(event, 'About')">
                           <%= t('users.show.about') %>
                           </button>
                           <button class="tablinks active mob-view-profile-tab" onclick="openCity(event, 'Activity')">
                           <%= t('users.show.activity') %>
                           </button>
                           <button class="tablinks" onclick="openCity(event, 'On-Sale')">
                           <%= t('users.show.on_sale') %>
                           </button>
                           <button class="tablinks" onclick="openCity(event, 'Created')">
                           <%= t('users.show.created') %>
                           </button>
                           <button class="tablinks" onclick="openCity(event, 'Collectibles')">
                           <%= t('users.show.collectibles') %>
                           </button>
                           <button class="tablinks" onclick="openCity(event, 'My-Collections')">
                           My Collections
                           </button>
                           <button class="tablinks" onclick="openCity(event, 'Favorite')">
                           <%= t('users.show.liked') %></a>
                           </button>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="tabs-panel following-details">
                           <div class="tab">
                              <button id="activity" class="tablinks hide-activity-btn">
                              <span id="activity-tab" class="activity-tab"> <%= t('users.show.activity') %></span>
                              </button>
                              <button id="following" class="tablinks web-follow-btn">
                                 Following <span> (<%= @user.followees.count %>)</span>
                              </button>
                              <button id="followers" class="tablinks web-follow-btn remove-border">
                                 Followers <span>(<%= @user.followers.count %>)</span>
                              </button>
                              
                              <button id="mob-following" class="tablinks mob-follow-btn">
                                 <span><%= @user.followees.count %></span>  Following
                              </button>
                              <button id="mob-followers" class="tablinks mob-follow-btn">
                                 <span><%= @user.followers.count %></span> Followers
                              </button>

                              <% if current_user.nil? %>
                                 <button id="follow" class="tablinks mob-follow-btn">
                                    <em class="follow-no-user"> Follow </em>
                                 </button>
                              <% elsif current_user.present? && current_user != @user %> 
                                 <% if !current_user.followees.include?(@user) %>
                                    <button id="follow" class="tablinks mob-follow-btn">
                                       <em> <%= link_to follow_users_path(id: @user.address) do %> 
                                       Follow 
                                       <% end %>
                                       </em>
                                    </button>
                                 <% else %>
                                    <button id="follow" class="tablinks mob-follow-btn">
                                       <em> <%= link_to unfollow_users_path(id: @user.address) do %> 
                                       Unfollow 
                                       <% end %>
                                       </em>
                                    </button>
                                 <% end %>
                              <% end %>

                           </div>
                           <div class="activity-dropdown Activity" id="activity-dropdown">
                              <% if @activity.present? %>
                              <% @activity.each do |activity| %>
                              <% next if activity.item.blank? %>
                              <% if ["Follow", "Like", "Bid", "Collection"].include?(activity.item_type) %>
                              <%= render "activities/#{activity.item_type.downcase}", activity: activity if ["Follow", "Like", "Collection", "Bid"].include?(activity.item_type) %>
                              <% end %>
                              <% end %>
                              <% else %>
                              <p> No Activity yet! </p>
                              <% end %>
                           </div>
                           <div class="activity-dropdown Following", id="following-dropdown">
                              <% if @following.present? %>
                              <%= render "follow", follows: @following, id: "following", followees: @following %>
                              <% else %>
                              <p> 0 Following </p>
                              <% end %>
                           </div>
                           <div class="activity-dropdown Followers", id="followers-dropdown">
                              <% if @followers.present? %>
                              <%= render "follow", follows: @followers, id: "followers", followees: @followers %>
                              <% else %>
                              <p> 0 Followers </p>
                              <% end %>
                           </div>
                        </div>
                     </div>
                  </div>
                  
                  <div id="About" class="tabcontent profile-mob-details hide-activity-btn" style="display: block;">
                     <!-- 
                     <% if @user.name %>
                     <h6 class="panel-detail-heading"><%= @user.name %></h6>
                     <% end %>
                     -->
                     <% if @user.bio %>
                     <%= link_to_bio(@user) %>
                     <% else %>
                     <p class="no-data"> No Bio Yet </p>
                     <% end %>
                  </div>

                  <div id="Activity" class="tabcontent profile-mob-details mob-view-profile-tab" style="display: block;">
                     <% if @activity.present? %>
                        <% @activity.each do |activity| %>
                           <% next if activity.item.blank? %>
                              <% if ["Follow", "Like", "Bid", "Collection"].include?(activity.item_type) %>
                                 <%= render "activities/#{activity.item_type.downcase}", activity: activity if ["Follow", "Like", "Collection", "Bid"].include?(activity.item_type) %>
                              <% end %>
                        <% end %>
                     <% else %>
                        <p> No Activity yet! </p>
                     <% end %>
                  </div>
                  
                  <div id="On-Sale" class="tabcontent profile-mob-details ">
                     <ul>
                        <span class="bg-transition"></span>
                        <% if @on_sale_collections.present? %>
                        <% @data.each do |collection| %>
                        <%= render "/dashboard/collection_card", collection: collection %>
                        <% end %>
                        <%  else %>
                        <p class="no-data"> No Collection Found </p>
                        <% end %>
                     </ul>
                  </div>
                  <div id="Created" class="tabcontent profile-mob-details">
                     <ul>
                        <span class="bg-transition"></span>
                        <% if @created_collections.present? %>
                        <% @created_collections.each do |collection| %>
                        <%= render "/dashboard/collection_card", collection: collection %>
                        <% end %>
                        <%  else %>
                        <p class="no-data"> No Collection Found </p>
                        <% end %>
                     </ul>
                  </div>
                  <div id="Collectibles" class="tabcontent profile-mob-details">
                     <ul>
                        <span class="bg-transition"></span>
                        <% if @collectibles.present? %>
                        <% @collectibles.each do |collection| %>
                        <%= render "/dashboard/collection_card", collection: collection %>
                        <% end %>
                        <%  else %>
                        <p class="no-data"> No Collection Found </p>
                        <% end %>
                     </ul>
                  </div>
                  <div id="My-Collections" class="tabcontent profile-mob-details">
                     <span class="bg-transition"></span>
                     <div class="modeling-artist-list">
                        <ul>
                           <%if @my_collections.present? %>
                              <%@my_collections.all.each do |single_contract|%>
                              <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                                 <%= render 'dashboard/own_contract', contract: single_contract %>
                              </div>
                              <% end %>
                           <% else %>
                              <p class="no-data"> No Collection Found </p>
                           <%end%>
                        </ul>
                     </div>
                  </div>
                  <div id="Favorite" class="tabcontent profile-mob-details">
                     <ul>
                        <span class="bg-transition"></span>
                        <% if @liked.present? %>
                        <% @liked.each do |like| %>
                        <% next unless like.collection.present? %>
                        <%= render "/dashboard/collection_card", collection: like.collection %>
                        <% end %>
                        <% else %>
                        <p> No Favorite Found  </p>
                        <% end %>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>


<div class="User_following-list" id="mob-following-list">
   <div class="close-icon"><img src="../../assets/nft/Close-white.svg" class="close-btn"></div>
   <div id="mob-following" class="activity-dropdown-lists">
      <h5>Following</h5>
      <% if @following.present? %>
      <%= render "follow", follows: @following, id: "following", followees: @following %>
      <% else %>
      <p> 0 Following </p>
      <% end %>
   </div>
</div>

<div class="User_following-list" id="mob-followers-list">
   <div class="close-icon"><img src="../../assets/nft/Close-white.svg" class="close-btn"></div>
   <div id="mob-followers" class="activity-dropdown-lists">
      <h5>Followers</h5>
      <% if @followers.present? %>
      <%= render "follow", follows: @followers, id: "followers", followees: @followers %>
      <% else %>
      <p> 0 Followers </p>
      <% end %>
   </div>
</div>




<%= render partial: 'users/report_user' %>
<script type="text/javascript">

   $(document).ready(function(){
     $(".close-top-notify").click(function(){
       $(".main").addClass("close-nav");
     });
   });

   $(document).ready(function(){
      $(".follow-no-user").click(function(){  
         toastr.error('Please connect your wallet to proceed.');
      })
   }
   );
   
   $(document).ready(function(){
       $(".copy_address").click(function(){
           var copyText = document.getElementById("address").innerText;
           var dummyText = document.createElement('input');
           document.body.appendChild(dummyText);
           dummyText.value = copyText;
           dummyText.select();
           document.execCommand("copy", false);
           dummyText.remove();
           toastr.success('Address Copied Successfully!')
       });
     });

   $(document).ready(function(){
       $(".close-btn").click(function(){
           $(".User_following-list").removeClass("active");
       });
     });

   $(document).ready(function(){
       $("#mob-following").click(function(){
          $("#mob-following-list").addClass("active");
       });
     });

   $(document).ready(function(){
       $("#mob-followers").click(function(){
          $("#mob-followers-list").addClass("active");
       });
     });
   
   
   function openCity(evt, cityName, ) {
     var i, tabcontent, tablinks;
     tabcontent = document.getElementsByClassName("tabcontent");
     for (i = 0; i < tabcontent.length; i++) {
       tabcontent[i].style.display = "none";
     }
     tablinks = document.getElementsByClassName("tablinks");
     for (i = 0; i < tablinks.length; i++) {
       tablinks[i].className = tablinks[i].className.replace(" active", "");
     }
     document.getElementById(cityName).style.display = "block";
     evt.currentTarget.className += " active";
     if (cityName == "On-Sale" || cityName == "Created" || cityName == "Collectibles")
     {   
         activityElement = document.getElementById("Activity");
         activityElement.classList.add('inactive');
     }
   }
   
   $(document).ready(function() {
   $(function () {
      $(".morelink").trigger( "click");
   });
    var showChar = 130;  
    var moretext = "Read more";
    var lesstext = "Read less";

    $('.textControl').each(function() {
        var content = $(this).html();
 
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar) + "...";
            var h = content.substr(showChar, content.length - showChar);
            var html = c + '<span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + lesstext + '</a></span>';
            $(this).html(html);
        }
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(lesstext);
        } else {
            $(this).addClass("less");
            $(this).html(moretext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
    
   });
   
   $(document).ready(function(){
      $(document).mouseup(e => {
         if ($('#activity').is(e.target) || $("#activity-tab").is(e.target))
         {  
            $("#activity").toggleClass("active");
            $('#activity-dropdown').toggleClass("active");
            $("#following").removeClass("active");
            $('#following-dropdown').removeClass("active");
            $("#followers").removeClass("active");
            $('#followers-dropdown').removeClass("active");
         }
         else if ($('#following').is(e.target))
         {  
            $("#following").toggleClass("active");
            $('#following-dropdown').toggleClass("active");
            $("#activity").removeClass("active");
            $('#activity-dropdown').removeClass("active");
            $("#followers").removeClass("active");
            $('#followers-dropdown').removeClass("active");

         }
         else if ($('#followers').is(e.target))
         {  
            $("#followers").toggleClass("active");
            $('#followers-dropdown').toggleClass("active");
            $("#activity").removeClass("active");
            $('#activity-dropdown').removeClass("active");
            $("#following").removeClass("active");
            $('#following-dropdown').removeClass("active");
         }
         else 
         {  
            $("#activity").removeClass("active");
            $('#activity-dropdown').removeClass("active");
            $("#following").removeClass("active");
            $('#following-dropdown').removeClass("active");
            $("#followers").removeClass("active");
            $('#followers-dropdown').removeClass("active");
         }
      });
      
   });



</script>