<% if activity.event == "create" && activity.item.user.present? && activity.item.collection.present? %>
    <div class="member-detail">
      <div class="member-user-profile">
          <span> <%= image_tag url_for(activity.item.user.profile_image) %> </span>
          <div class="user-profile-detail"> 
            <a href="<%= user_path(activity.item.user.address) %>"> <%= activity.item.user.full_name %></a>
            <em>Liked <%= activity.item.collection.title %></em>
            <i> <%= time_ago_in_words(activity.created_at) %> ago </i>
          </div>
      </div>
    </div>
<% end %>
