<%if false%>
    <footer class="pt-50 pb-15 ">
      <div class="container-fluid padding-lr-custom-50">
        <div class="row ml-0 mr-0">
          <div class="col-md-12">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="footer-logo">
                <h4><%= image_tag Rails.application.credentials.config[:app_logo], class: 'img-responsive logo-img' %></h4>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="quick-link">
                <h4>><%= t('footer.quick_links') %></h4>
                <ul>
                  <li>
                    <a><%= t('footer.about') %></a>
                  </li>
                  <li>
                    <a href="<%= root_path %>"><%= t('footer.explore') %></a>
                  </li>
                  <li>
                    <a><%= t('footer.HIW') %></a>
                  </li>
                  <li>
                    <a><%= t('footer.support') %></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="community">
                <h4><%= t('footer.community') %></h4>
                <ul>
                  <li>
                    <a><%= t('footer.discussion') %></a>
                  </li>
                  <li>
                    <a><%= t('footer.voting') %></a>
                  </li>
                  <li>
                    <a><%= t('footer.suggest_feature') %></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="social-media">
                <h4><%= t('footer.social_media') %></h4>
                <ul>
                  <li>
                    <a href="javascript:void(0);">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <i class="fa fa-youtube"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row ml-0 mr-0">
          <div class="col-md-12">
            <hr>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <p class="copyrights">© <%= Rails.application.credentials.config[:app_name] %>, Inc. All rights reserved.</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="li-copy">
                <ul>
                  <li><a><%= t('footer.tc') %></a></li>
                  <li><a><%= t('footer.privacy_policy') %></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
<%end%>


<!-- end get started -->

<footer class="footer section-footer wide-window">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <img src="../../assets/nft/logo.png" class="img-responsive logo-img">
        <p class="footer__tagline">
        Our mission is to support artists and creators with a distribution model tailored towards rare collectables, with the look and feel of a high-end art gallery.
        Our platform is built for selective artists, brands, projects and collaborators. We will hand hold you and your project from the point of ideation to actualization through our advisory services.
        </p>
        <div class="img-social">
          <a target="_blank" href="https://www.facebook.com/crosstowernft" class="img-social-anchor">
            <img src="/assets/facebook-logo.png">
          </a>
          <a target="_blank" href="https://twitter.com/CrossTowerNFT" class="img-social-anchor">
            <img src="/assets/twitter.png">
          </a>
          <a target="_blank" href="https://www.instagram.com/crosstowernft/" class="img-social-anchor">
            <img src="/assets/instagram.png">
          </a>
          <a target="_blank" href="https://www.linkedin.com/company/crosstower-nft" class="img-social-anchor">
            <img src="/assets/linkedin.png">
          </a>
          <a target="_blank" href="https://www.youtube.com/channel/UCAY9YpBnYsTdXObJ13qdRug" class="img-social-anchor">
            <img src="/assets/youtube.png">
          </a>
          <a target="_blank" href="https://t.me/+Zmi8Lty-H39lNDU1" class="img-social-anchor">
            <img src="/assets/telegram.png">
          </a>
          <a target="_blank" href="https://discord.com/channels/@me" class="img-social-anchor">
            <img src="/assets/discord.png">
          </a>
          <!-- <a href="https://www.reddit.com/user/CrossTowerNFT" class="img-social-anchor">
            <img src="/assets/reddit.png">
          </a> -->
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="row">
          <!-- <ul class="footer_nav">
            <li><a href="javascript:void(0);">Discover</a></li>
            <li><a href="javascript:void(0);">Live Auction</a></li>
            <li><a href="javascript:void(0);">Creator</a></li>
            <li><a href="javascript:void(0);">Community</a></li>
          </ul> -->
           <ul class="footer_nav">
            <li><a href="/faq">About NFTs</a></li>
            <li><a href="/about">About us</a></li>
            <li><a target="_blank" href="https://crosstower.com/_nft/blogs.html">Blog</a></li>
            <li><a target="_blank" href="https://crosstower.com/_nft/contactus.html">Contact us</a></li>
            <li><a target="_blank" href="https://crosstower.com/_nft/terms.html">Terms Of Service</a></li>
          </ul>
          <div class="col-lg-2"></div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <!--
            <h6 class="footer__title">
              <a href="javascript:void(0);">Discover</a>
            </h6>
             <div class="footer__nav">
              <a href="javascript:void(0);">First page</a>
              <a href="javascript:void(0);">Second page</a>
              <a href="javascript:void(0);">Third page</a>
              <a href="javascript:void(0);">Fourth page</a>
            </div> -->
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <!-- 
            <h6 class="footer__title">
              <a href="javascript:void(0);">Live Auction</a>
            </h6>
            <div class="footer__nav">
              <a href="javascript:void(0);">First page</a>
              <a href="javascript:void(0);">Second page</a>
              <a href="javascript:void(0);">Third page</a>
              <a href="javascript:void(0);">Fourth page</a>
            </div> -->
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <!-- 
            <h6 class="footer__title">
              <a href="javascript:void(0);">Creator</a>
            </h6>
            <div class="footer__nav">
              <a href="javascript:void(0);">First page</a>
              <a href="javascript:void(0);">Second page</a>
              <a href="javascript:void(0);">Third page</a>
              <a href="javascript:void(0);">Fourth page</a>
            </div> -->
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <!-- 
            <h6 class="footer__title">
              <a href="javascript:void(0);">Community</a>
            </h6>
            <div class="footer__nav">
              <a href="javascript:void(0);">First page</a>
              <a href="javascript:void(0);">Second page</a>
              <a href="javascript:void(0);">Third page</a>
              <a href="javascript:void(0);">Fourth page</a>
            </div> -->
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <!-- 
            <h6 class="footer__title">
              <a href="/my_items">My profile</a>
            </h6>
            <div class="footer__nav">
              <a href="javascript:void(0);">First page</a>
              <a href="javascript:void(0);">Second page</a>
              <a href="javascript:void(0);">Third page</a>
              <a href="javascript:void(0);">Fourth page</a>
            </div> -->
          </div>
        </div>
        
      </div>

    </div>

    <div class="row">
      <div class="col-12">
        <div class="footer__content copy-right-content">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-7">
              <small class="footer__copyright">Copyright © 2020 CrossTower - All Rights Reserved.</small>
            </div>
            <div class="col-12 col-sm-12 col-md-5">
              <ul class="inter-seller-ul">
                <li>
                  <a target="_blank" href="/privacy">Privacy Policy</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

