
<div  class="NFT_SCREEN_Header close-nav" >
<!--   <div class="header-notify">
    <a> It’s our 4th Birthday! The first 200 people to make a purchase on CrossTower this month receive 100$!
      <a class="link-nav">Details here.</a>
    </a>
    <img class="close-top-notify" src="/assets/nft/white-Close.svg" alt="Close" />
</div> -->
<% unless action_name == "index" %>
<div  class="nft-header header-all">
<% else %>
<div   class="nft-header header-all">
<% end %>

    <ul  class="color-black">
        <li>
       <a class="logo-nav-design" href="<%= root_path %>"> 
        <img src="/assets/nft/logo symbol.svg" class="crosstower-icon" />
        <img src="/assets/nft/text_logo(black)" class="crosstower-text mobile-visible-none" />
         <img src="/assets/nft/text_logo.svg" class="crosstower-text visible-none" />
        </a>

            <div class="mobile-menu-item">
                <div id="menuToggle" 
                class=" togg show">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <%= render "common/search" %>
               <div class="header__actions nft-menus search-menu ">
                    <div class="header__action header__action--search">
                       <button class="header__action-btn" type="button">
                         <img src="../../assets/nft/search.svg" alt="Search" class=" mobile-visible-none" />
                         <img src="../../assets/nft/search-white.svg" alt="Search" class="visible-none" />
                      </button>
                    </div>
                </div>
            </div>

        </li>
        <li>
            <div class="dropdown-lists">
                <div class="nft-menus">
                    <img src="/assets/nft/Create.svg" alt="NFT_Create"  class="visible-none" /> 
                    <img src="/assets/nft/Create-bg-fill.svg" alt="NFT_Create" class=" mobile-visible-none" />
                    <a href="/collections/new">Create</a>
                </div>
                <div class="nft-menus">
                    <img  src="/assets/nft/Discover.svg" alt="NFT_Discover"  class="visible-none"  />
                     <img src="/assets/nft/Discover-bg-fill.svg" alt="NFT_Create" class=" mobile-visible-none" />
                    <a href="/search">Discover</a>
                </div>
                <div class="nft-menus open-menu">
                      <img src="/assets/nft/communicative.svg" alt="NFT_COMMU"  class="visible-none"  />
                     <img src="/assets/nft/communicative-bg-fill.svg" alt="NFT_Create" class=" mobile-visible-none" />
                    <a>Community</a>

                    <div class="drop-list" id="open-menu">
                        <a target="_blank" href="https://crosstower.com/_nft/blogs.html">Blog</a>
                        <a href="">Help Center</a>
                        <a target="_blank" href="https://crosstower.com/_nft/contactus.html">Contact Us</a>
                    </div>
                </div>
                 

               <%= render "common/search" %>

                <div class="nft-menus open-right-menu-detail open-menu-profile">
                    <img src="/assets/nft/wallet.svg" alt="NFT_Wallet" />
                    <% if current_user.attachment.present? %>
                        <%= image_tag url_for(current_user.profile_image), class: "profile-img current-user-profile" %>
                    <% else %>
                        <img src="/assets/nft/profile-grey.svg"  alt="NFT_Profile"
                        class="profile-img before-login" />
                    <% end %>
                    
                     <div class="drop-list" id="open-menu-profile">
                        <a href="<%=my_items_path%>">Profile</a>
                        <a href="<%=edit_user_path(current_user)%>">Settings</a>
                        <a href="<%= activities_path(activity_type: "activity") %>">Activity</a>
                        <a href="javascript:void(0);" onclick="window.disconnect(<%= current_user.address %>)">Sign out</a>
                    </div>
                </div>
                <!-- <div class="nft-menus connect-wallet">
                   Connect to Wallet
                </div> -->
               <!--  <a class="open-modal header__action-btn header__action-btn--signin" href="#connect_to_wallet">
                <span><%= t('header.title') %></span>
              </a> -->
            </div>
        </li>
    </ul>
</div>

<div class="nft-header mobile-menu" >

    <ul>
      
        <li>
            <div class="dropdown-lists">
                <div class="nft-menus">
                    <img src="/assets/nft/Create-bg-fill.svg" alt="NFT_Create" />
                    <a href="/collections/new">Create</a>
                </div>
                <div class="nft-menus">
                    <img  src="/assets/nft/Discover-bg-fill.svg" alt="NFT_Discover" />
                    <a href="/search">Discover</a>
                </div>
                <div class="nft-menus">
                    <img src="/assets/nft/communicative-bg-fill.svg" alt="NFT_COMMU" />
                    <a>Community</a>
                    <div class="inline-menus">
                        <a href="https://crosstower.com/_nft/blogs.html">Blog</a>
                        <a href="">Help Center</a>
                        <a href="https://crosstower.com/_nft/contactus.html">Contact Us</a>
                    </div>
                </div>
                <div class="nft-menus">
                    <span class="profile"> <img src="/assets/nft/wallet.svg" alt="NFT_Profile"  /></span>
                    <a> User </a>
                    <div class="inline-menus">
                        <a href="<%=my_items_path%>">Profile</a>
                        <a href="<%=edit_user_path(current_user)%>">Settings</a>
                        <a href="<%= activities_path(activity_type: "activity") %>">Activity</a>
                        <a href="javascript:void(0);" onclick="window.disconnect(<%= current_user.address %>)">Sign out</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

</div>


<script>


$(document).ready(function() {
  $(document).mouseup(function(e) {
    $("#open-menu-profile").removeClass("active");
    $("#open-menu").removeClass("active");
    });
  });

$(document).ready(function() {
  $(window).scroll(function(){
      if ($(this).scrollTop() > 50) {
         $('.nft-header').addClass('color-white');
      } else {
         $('.nft-header').removeClass('color-white');
      }
  });
});


$(document).ready(function(){
  $("#menuToggle").click(function(){
    $("#menuToggle").toggleClass("hiden-list");
  });
});


$(document).ready(function(){
  $("#menuToggle").click(function(){
    $(".NFT_SCREEN_Header").toggleClass("hiden-list");
  });
});

$(document).ready(function(){
  $(".open-menu").click(function(){
    $("#open-menu").toggleClass("active");
  });
});

$(document).ready(function(){
  $(".open-menu-profile").click(function(){
    $("#open-menu-profile").toggleClass("active");
  });
});
$(document).ready(function(){
  $(".close-top-notify").click(function(){
    $(".NFT_SCREEN").addClass("close-nav");
  });
});
$(document).ready(function(){
  $(".close-top-notify").click(function(){
    $(".NFT_SCREEN_Header").addClass("close-nav");
  });
});


//  $(document).ready(function(){
//   $("#mobile-search").click(function(){
//     $(".search-menu-action").removeClass("active");
//   });
// });


</script>

<%= render partial: 'common/wallet_connect' %>
